Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: black
        name: Format Python files
        entry: black
        types: [python]
        language: system
        require_serial: true
      - id: flake8
        name: Lint Python files
        entry: flake8
        types: [python]
        language: system
        require_serial: true
      - id: mypy
        name: Run Python type checks
        entry: mypy
        types_or: [python, pyi]
        exclude: back/test
        language: system
        args: ["--scripts-are-modules"]
        require_serial: true
      - id: isort
        name: Sort Python imports
        entry: isort
        types_or: [cython, pyi, python]
        language: system
        require_serial: true
        args: ['--filter-files']
      - id: eslint
        name: Lint Typescript files
        entry: ./invoke_yarn lint
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: prettier
        name: Format Typescript files
        entry: ./invoke_yarn format
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: generate-graphql-ts-types
        name: Generate GraphQL Typescript definitions
        entry: ./invoke_yarn graphql-types
        types: [graphql]
        language: script
        require_serial: true

show are you sure alart dialog before marking shipment as lost
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentActionButtons.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentOverlay.tsx
Due: eslint, prettier

fix type error in box edit
  react/src/views/BoxEdit/components/BoxEdit.tsx
Due: eslint, prettier

fix codestyle
  react/src/components/graphs/BarChartCenterAxis.tsx
Due: eslint, prettier

clean up
  react/src/views/Transfers/ShipmentView/components/ShipmentActionButtons.tsx
Due: eslint, prettier

create a variable for shipment id
  react/src/views/Transfers/CreateShipment/CreateShipmentView.tsx
Due: eslint, prettier

fix word order in the message
  react/src/views/Transfers/ShipmentView/components/ShipmentOverlay.tsx
Due: eslint, prettier

Start Flask app with both webapp and query API endpoints for development
  back/Dockerfile
  back/README.md
  back/boxtribute_server/dev_main.py
Due: black, flake8

Configure webapp docker-compose service to depend on db service
  back/README.md
  docker-compose.yml
Due: none

fix typo
  react/src/components/graphs/BarChartCenterAxis.tsx
Due: eslint, prettier

Update history test data
  back/test/data/history.py
  back/test/endpoint_tests/test_box.py
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

Add naive implementation to query created boxes information
  back/boxtribute_server/business_logic/statistics/crud.py
  back/boxtribute_server/business_logic/statistics/queries.py
  back/boxtribute_server/graph_ql/definitions/public_api.graphql
  back/boxtribute_server/graph_ql/schema.py
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8

Add test data fixture for product categories
  back/test/data/__init__.py
  back/test/data/product_category.py
Due: black, flake8

Optimize DB query
  back/boxtribute_server/business_logic/statistics/crud.py
Due: black, flake8

Include facts and dimensions information in query result
  back/boxtribute_server/business_logic/statistics/crud.py
  back/boxtribute_server/graph_ql/definitions/public_api.graphql
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8

Add base ID as parameter for createdBoxes query
  back/boxtribute_server/business_logic/statistics/crud.py
  back/boxtribute_server/business_logic/statistics/queries.py
  back/boxtribute_server/graph_ql/definitions/public_api.graphql
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8

fix: upgrade react-router-dom from 6.8.0 to 6.14.2
  react/package.json
  react/yarn.lock
Due: none

fix: upgrade @sentry/tracing from 7.38.0 to 7.59.3
  react/package.json
  react/yarn.lock
Due: none

fix: upgrade @sentry/integrations from 7.38.0 to 7.59.3
  react/package.json
  react/yarn.lock
Due: none

fix: upgrade @sentry/react from 7.38.0 to 7.59.3
  react/package.json
  react/yarn.lock
Due: none

fix: upgrade react-hook-form from 7.43.1 to 7.45.2
  react/package.json
  react/yarn.lock
Due: none

Use Box.created_on instead of DbChangeHistory entries
  back/boxtribute_server/business_logic/statistics/crud.py
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8

Handle non-existing g.user when error thrown under /public
  back/boxtribute_server/exceptions.py
Due: black, flake8

change title in shipment overlay on sent state
  react/src/views/Transfers/ShipmentView/components/ShipmentOverlay.tsx
Due: eslint, prettier

fix cors error, small rename peoplebyagechart
  back/boxtribute_server/routes.py
  react/src/views/Statistics/components/DemographicChart.tsx
  react/src/views/Statistics/components/PeopleByAgeChart.tsx
Due: black, flake8, eslint, prettier

create from to filter, mock be data
  react/src/App.tsx
  react/src/components/graphs/BarChartCenterAxis.tsx
  react/src/mocks/demographic.tsx
  react/src/views/Statistics/StatisticsView.tsx
  react/src/views/Statistics/components/DemographicChart.tsx
  react/src/views/Statistics/components/filter/FilterCreatedOn.tsx
Due: eslint, prettier

add statviz folder generated with vite
  docker-compose.yml
  statviz/.eslintrc.cjs
  statviz/.gitignore
  statviz/Dockerfile
  statviz/README.md
  statviz/index.html
  statviz/package.json
  statviz/public/vite.svg
  statviz/src/App.css
  statviz/src/App.tsx
  statviz/src/assets/react.svg
  statviz/src/index.css
  statviz/src/main.tsx
  statviz/src/vite-env.d.ts
  statviz/tsconfig.json
  statviz/tsconfig.node.json
  statviz/vite.config.ts
  statviz/yarn.lock
Due: none

change alert message
  react/src/views/Transfers/ShipmentView/components/ShipmentOverlay.tsx
Due: eslint, prettier

add chakra
  statviz/package.json
  statviz/public/vite.svg
  statviz/src/App.css
  statviz/src/App.tsx
  statviz/src/assets/react.svg
  statviz/src/index.css
  statviz/src/main.tsx
  statviz/src/utils/theme.ts
  statviz/yarn.lock
Due: none

add react-router
  statviz/packages.md
  statviz/src/App.tsx
Due: none

rename Statistics to Demographic
  react/src/views/DemographicView/StatisticsView.tsx
  react/src/views/DemographicView/components/DemographicChart.tsx
  react/src/views/DemographicView/components/filter/FilterCreatedOn.tsx
  react/src/views/Statistics/components/DemographicChart.tsx
Due: eslint, prettier

rename to Statistics
  react/src/views/Statistics/StatisticsView.tsx
  react/src/views/Statistics/components/DemographicChart.tsx
  react/src/views/Statistics/components/filter/FilterCreatedOn.tsx
Due: eslint, prettier

add apollo
  docker-compose.yml
  statviz/package.json
  statviz/packages.md
  statviz/src/App.tsx
  statviz/src/main.tsx
  statviz/tsconfig.json
  statviz/vite.config.ts
  statviz/yarn.lock
Due: none

add dev cors policy for public graphql endpoint
  back/boxtribute_server/routes.py
Due: black, flake8

wip
  react/src/mocks/demographic.tsx
  react/src/views/Statistics/components/DemographicChart.tsx
  react/src/views/Statistics/components/filter/FilterCreatedOn.tsx
Due: eslint, prettier

wip seperate statviz from boxtribute frontend
  react/package.json
  react/tsconfig.json
  react/yarn.lock
  statviz/package.json
  statviz/packages.md
  statviz/src/App.tsx
  statviz/src/components/Form/DateField.tsx
  statviz/src/components/Form/NumberField.tsx
  statviz/src/components/Form/RadioGroupField.tsx
  statviz/src/components/Form/SelectField.tsx
  statviz/src/components/graphs/BarChartCenterAxis.tsx
  statviz/src/mocks/demographic.tsx
  statviz/src/views/Statistics/StatisticsView.tsx
  statviz/src/views/Statistics/components/DemographicChart.tsx
  statviz/src/views/Statistics/components/filter/FilterCreatedOn.tsx
  statviz/yarn.lock
Due: none

add graphql codegen
  .pre-commit-config.yaml
  statviz/codegen.ts
  statviz/package.json
  statviz/src/App.tsx
  statviz/src/types/generated/fragment-masking.ts
  statviz/src/types/generated/gql.ts
  statviz/src/types/generated/graphql.ts
  statviz/src/types/generated/index.ts
  statviz/yarn.lock
Due: none

wip seperate frontends
  statviz/package.json
  statviz/src/components/graphs/BarChartCenterAxis.tsx
  statviz/src/views/Statistics/components/DemographicChart.tsx
  statviz/src/views/Statistics/components/filter/FilterCreatedOn.tsx
Due: none

wip connect backend to demographic chart
  statviz/src/App.tsx
  statviz/src/views/Statistics/components/DemographicChart.tsx
Due: none

Introduce GraphQL interface type for DataCube
  back/boxtribute_server/graph_ql/definitions/public_api.graphql
Due: none

Use 'facts' data structure for beneficiaryDemographics response
  back/boxtribute_server/business_logic/statistics/crud.py
  back/boxtribute_server/graph_ql/definitions/public_api.graphql
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8
