Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: black
        name: Format Python files
        entry: black
        types: [python]
        language: system
        require_serial: true
      - id: flake8
        name: Lint Python files
        entry: flake8
        types: [python]
        language: system
        require_serial: true
      - id: mypy
        name: Run Python type checks
        entry: mypy
        types_or: [python, pyi]
        exclude: back/test
        language: system
        args: ["--scripts-are-modules"]
        require_serial: true
      - id: isort
        name: Sort Python imports
        entry: isort
        types_or: [cython, pyi, python]
        language: system
        require_serial: true
        args: ['--filter-files']
      - id: eslint
        name: Lint Typescript files
        entry: ./invoke_yarn lint
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: prettier
        name: Format Typescript files
        entry: ./invoke_yarn format
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: generate-graphql-ts-types
        name: Generate GraphQL Typescript definitions
        entry: ./invoke_yarn graphql-types
        types: [graphql]
        language: script
        require_serial: true

Add NotDelivered box state
  back/boxtribute_server/enums.py
  back/boxtribute_server/graph_ql/types.graphql
  back/init.sql
  react/src/types/generated/graphql.ts
Due: black, flake8, eslint, prettier

Correctly set up shipment test data
  back/test/data/shipment.py
Due: black, flake8

Add NotDelivered box test data
  back/test/data/box.py
  back/test/endpoint_tests/test_box.py
  back/test/endpoint_tests/test_metrics.py
Due: black, flake8

Add shipment detail with NotDelivered box
  back/test/data/__init__.py
  back/test/data/box.py
  back/test/data/shipment.py
  back/test/data/shipment_detail.py
  back/test/endpoint_tests/test_shipment.py
  back/test/endpoint_tests/test_transfer_agreement.py
Due: black, flake8

Use NotDelivered box state instead of Lost in context of shipments
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

Allow users of both source and target base to view NotDelivered box
  back/boxtribute_server/business_logic/warehouse/box/queries.py
  back/test/endpoint_tests/test_box.py
Due: black, flake8

Add mutation to move NotDelivered box to InStock in target base
  back/boxtribute_server/authz.py
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/boxtribute_server/business_logic/box_transfer/shipment/mutations.py
  back/boxtribute_server/graph_ql/mutations.graphql
  back/test/endpoint_tests/test_shipment.py
  react/src/types/generated/graphql.ts
Due: black, flake8, eslint, prettier

Add more shipment and box test data
  back/test/data/__init__.py
  back/test/data/box.py
  back/test/data/shipment.py
  back/test/data/shipment_detail.py
  back/test/endpoint_tests/test_box.py
  back/test/endpoint_tests/test_metrics.py
  back/test/endpoint_tests/test_shipment.py
  back/test/endpoint_tests/test_transfer_agreement.py
Due: black, flake8

Add helper method in tests
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

Add support to move NotDelivered box to InStock in source base
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

Enhance tests and take care of edge cases
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/test/data/box.py
  back/test/data/shipment_detail.py
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

fix default value in the options of boxedit
  react/src/views/BoxEdit/components/BoxEdit.tsx
Due: eslint, prettier

Add method to return base IDs for organisation
  back/boxtribute_server/business_logic/box_transfer/agreement/crud.py
Due: black, flake8

Add comment
  back/boxtribute_server/business_logic/box_transfer/agreement/crud.py
Due: black, flake8

Validate uniqueness of transfer agreement before creating
  back/boxtribute_server/business_logic/box_transfer/agreement/crud.py
  back/boxtribute_server/exceptions.py
  back/test/endpoint_tests/test_transfer_agreement.py
  back/test/integration_tests/test_operations.py
Due: black, flake8

Include valid_from/valid_until to determine unique agreement
  back/boxtribute_server/business_logic/box_transfer/agreement/crud.py
  back/test/endpoint_tests/test_transfer_agreement.py
Due: black, flake8

Perform validation before inserting into TransferAgreement table
  back/boxtribute_server/business_logic/box_transfer/agreement/crud.py
Due: black, flake8

Perform date conversion earlier when creating agreement
  back/boxtribute_server/business_logic/box_transfer/agreement/crud.py
Due: black, flake8

Add another test
  back/test/data/transfer_agreement.py
  back/test/data/transfer_agreement_detail.py
  back/test/endpoint_tests/test_transfer_agreement.py
Due: black, flake8

First version: pivot table data points for beneficiary demographics
  back/boxtribute_server/pivot_table.py
  back/requirements.txt
  back/setup.py
Due: black, flake8

Aggregate directly via MySQL and dump to JSON for comparison
  back/boxtribute_server/pivot_table.py
Due: black, flake8

add adr for frontend statistics
  docs/adr/adr_statistic_frontend.md
Due: none

Clean up
  back/boxtribute_server/pivot_table.py
  back/requirements.txt
Due: black, flake8

Experiment with MySQL views
  back/boxtribute_server/pivot_table.py
Due: black, flake8

Add metrics.beneficiaryDemographics GraphQL interface
  back/boxtribute_server/business_logic/metrics/crud.py
  back/boxtribute_server/business_logic/metrics/fields.py
  back/boxtribute_server/graph_ql/types.graphql
Due: black, flake8

initial visx population chart with random data
  package.json
  react/package.json
  react/src/App.tsx
  react/src/components/graphs/BarChartCenterAxis.tsx
  react/src/components/graphs/BarChartCenterAxisTest.tsx
  react/src/views/Statistics/StatisticsView.tsx
  react/src/views/Statistics/components/PeopleByAgeChart.tsx
  react/yarn.lock
  yarn.lock
Due: eslint, prettier

Add public endpoint for statistics with dedicated query and business_logic module
  back/app-api.yaml
  back/boxtribute_server/business_logic/metrics/crud.py
  back/boxtribute_server/business_logic/metrics/fields.py
  back/boxtribute_server/business_logic/statistics/__init__.py
  back/boxtribute_server/business_logic/statistics/crud.py
  back/boxtribute_server/business_logic/statistics/queries.py
  back/boxtribute_server/graph_ql/definitions.py
  back/boxtribute_server/graph_ql/schema.py
  back/boxtribute_server/graph_ql/types.graphql
  back/boxtribute_server/routes.py
  back/test/endpoint_tests/test_statistics.py
  back/test/integration_tests/test_permissions.py
Due: black, flake8

Return demographics for all beneficiaries if no base IDs given
  back/boxtribute_server/business_logic/statistics/crud.py
  back/boxtribute_server/business_logic/statistics/queries.py
  back/boxtribute_server/graph_ql/definitions.py
  back/test/data/beneficiary.py
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8

Remove script
  back/boxtribute_server/pivot_table.py
  back/setup.py
Due: black, flake8

population chart tooltips
  react/package.json
  react/src/components/graphs/BarChartCenterAxis.tsx
  react/src/views/Statistics/components/PeopleByAgeChart.tsx
  react/yarn.lock
  yarn.lock
Due: eslint, prettier

update barchartcenter vis
  react/src/components/graphs/BarChartCenterAxis.tsx
  react/src/components/graphs/BarChartCenterAxisTest.tsx
  react/src/views/Statistics/components/PeopleByAgeChart.tsx
Due: eslint, prettier

barchartcenteraxis update
  react/src/components/graphs/BarChartCenterAxis.tsx
  react/src/views/Statistics/components/PeopleByAgeChart.tsx
Due: eslint, prettier

use HumanGender, adjust field names
  react/src/views/Statistics/components/PeopleByAgeChart.tsx
Due: eslint, prettier

remove unused variables and imports
  react/src/components/graphs/BarChartCenterAxis.tsx
  react/src/views/Statistics/StatisticsView.tsx
  react/src/views/Statistics/components/PeopleByAgeChart.tsx
Due: eslint, prettier

Update README and docstrings
  back/README.md
  back/boxtribute_server/business_logic/statistics/crud.py
Due: black, flake8

Update structure of GraphQL definition files
  back/boxtribute_server/graph_ql/definitions.py
  back/boxtribute_server/graph_ql/definitions/basic/enums.graphql
  back/boxtribute_server/graph_ql/definitions/basic/scalars.graphql
  back/boxtribute_server/graph_ql/definitions/protected/inputs.graphql
  back/boxtribute_server/graph_ql/definitions/protected/mutations.graphql
  back/boxtribute_server/graph_ql/definitions/protected/queries.graphql
  back/boxtribute_server/graph_ql/definitions/protected/types.graphql
  back/boxtribute_server/graph_ql/definitions/public_api.graphql
  docs/graphql-api/full-api-config.yml
  docs/graphql-api/query-api-config.yml
  react/codegen.yml
  react/src/types/generated/graphql.ts
Due: black, flake8, eslint, prettier

navigate to shipment view when shipment created
  react/src/views/Transfers/CreateShipment/CreateShipmentView.tsx
Due: eslint, prettier

remove package.json from root
  package.json
Due: none

update test case 4.3.3
  react/src/types/generated/graphql.ts
  react/src/views/Transfers/CreateShipment/CreateShipmentView.test.tsx
Due: eslint, prettier

fix no-shadow-variable
  react/src/components/graphs/BarChartCenterAxis.tsx
Due: eslint, prettier
