Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

black:
  name: Format Python files
  entry: black
  language: system
  require_serial: true

flake8:
  name: Lint Python files
  entry: flake8
  language: system
  require_serial: true

eslint:
  name: Lint Typescript files
  entry: ./invoke_yarn lint
  language: script
  require_serial: true

prettier:
  name: Format Typescript files
  entry: ./invoke_yarn format
  language: script
  require_serial: true

increase timeout for test case 3.4.2.5a
  react/src/components/QrReaderOverlay/QrReaderOverlay.test.tsx
Due: eslint, prettier

Update with agreed improvements
  docs/moved-boxes-task.md
Due: none

update the dropdown option style
  react/src/components/Form/ShipmentOption.tsx
  react/src/views/QrReader/QrReaderMultiBoxAssignToShipment.test.tsx
Due: eslint, prettier

fix typo
  statviz/src/views/Statistics/components/DemographicChart.tsx
Due: none

fix CORS
  back/boxtribute_server/routes.py
Due: black, flake8

implement error handling
  react/src/views/Boxes/BoxesView.tsx
Due: eslint, prettier

Rename RBP to 'product_category'
  back/boxtribute_server/authz.py
  back/boxtribute_server/business_logic/core/product_category/queries.py
  back/boxtribute_server/graph_ql/loaders.py
  back/test/auth.py
  back/test/unit_tests/test_authz.py
Due: black, flake8

nodata component
  statviz/src/views/Statistics/components/CreatedBoxes.tsx
  statviz/src/views/Statistics/components/NoDataCard.tsx
  statviz/src/views/Statistics/components/TopProducts.tsx
Due: none

Mock Stock and Shipments Sankey
  docs/sankeymatic_20231019_222017.svg
Due: none

Update moved-boxes-task.md
  docs/moved-boxes-task.md
Due: none

first version of download
  statviz/src/components/custom-graphs/BarChartCenterAxis.tsx
  statviz/src/components/nivo-graphs/BarChart.tsx
  statviz/src/state/selectedCharts.tsx
  statviz/src/views/Statistics/components/BoxFlowSankey.tsx
  statviz/src/views/Statistics/components/CreatedBoxes.tsx
  statviz/src/views/Statistics/components/DemographicChart.tsx
  statviz/src/views/Statistics/components/TopProducts.tsx
  statviz/src/views/Statistics/components/VisHeader.tsx
Due: none

expand vis header with download control form
  statviz/package.json
  statviz/src/views/Statistics/components/CreatedBoxes.tsx
  statviz/src/views/Statistics/components/DemographicChart.tsx
  statviz/src/views/Statistics/components/TopProducts.tsx
  statviz/src/views/Statistics/components/VisHeader.tsx
  statviz/yarn.lock
Due: none

add test case 4.8.1
  react/src/views/Boxes/BoxesView.test.tsx
Due: eslint, prettier

add test case 4.8.1.3
  react/src/views/Boxes/BoxesView.test.tsx
Due: eslint, prettier

wip image export & move components from view to components folder
  statviz/package.json
  statviz/src/App.tsx
  statviz/src/components/Form/TimeRangeSelect.tsx
  statviz/src/components/NoDataCard.tsx
  statviz/src/components/VisHeader.tsx
  statviz/src/components/nivo-graphs/BarChart.tsx
  statviz/src/components/visualizations/BoxFlowSankey.tsx
  statviz/src/components/visualizations/CreatedBoxes.tsx
  statviz/src/components/visualizations/DemographicChart.tsx
  statviz/src/components/visualizations/TopProducts.tsx
  statviz/src/hooks/useCreatedBoxes.ts
  statviz/src/hooks/useExport.ts
  statviz/src/utils/chart.ts
  statviz/src/utils/theme.ts
  statviz/src/views/Dashboard/Dashboard.tsx
  statviz/src/views/Dashboard/ItemsAndBoxes.tsx
  statviz/src/views/Dashboard/MovedBoxes.tsx
  statviz/src/views/Statistics/DemographicView.tsx
  statviz/yarn.lock
Due: none

fix config.yaml
  .circleci/config.yml
Due: none

jpg export for top products (margins of additional info wip)
  statviz/src/components/Form/TimeRangeSelect.tsx
  statviz/src/components/VisHeader.tsx
  statviz/src/components/nivo-graphs/BarChart.tsx
  statviz/src/components/visualizations/CreatedBoxes.tsx
  statviz/src/components/visualizations/TopProducts.tsx
  statviz/src/hooks/useCreatedBoxes.ts
  statviz/src/hooks/useExport.ts
  statviz/src/utils/chart.ts
Due: none

update Dockerfiles
  .dockerignore
  Dockerfile
  front/.dockerignore
  front/Dockerfile
  statviz/Dockerfile
Due: none

update yarn.lock
  .yarnrc
  front/package.json
  yarn.lock
Due: none

update docker config
  Dockerfile
  docker-compose.yml
Due: none

update yarn lock in root
  yarn.lock
Due: none

fix circleCI config
  .circleci/config.yml
Due: none

update ignore files
  .dockerignore
  .gitignore
Due: none

fix 3.2.1
  front/src/mocks/boxes.ts
  front/src/tests/helpers.ts
Due: none

fix 3.4.5.5
  front/src/tests/helpers.ts
  front/src/views/QrReader/QrReaderMultiBoxAssignToShipment.test.tsx
Due: none

update Demographic Chart, statviz refactoring
  statviz/src/App.tsx
  statviz/src/components/VisHeader.tsx
  statviz/src/components/custom-graphs/BarChartCenterAxis.tsx
  statviz/src/components/nivo-graphs/BarChart.tsx
  statviz/src/components/visualizations/CreatedBoxes.tsx
  statviz/src/components/visualizations/DemographicChart.tsx
  statviz/src/components/visualizations/TopProducts.tsx
  statviz/src/hooks/useCreatedBoxes.ts
  statviz/src/hooks/useDemographics.ts
  statviz/src/hooks/useExport.ts
  statviz/src/hooks/useTimerange.ts
  statviz/src/utils/table.ts
  statviz/src/utils/theme.ts
  statviz/src/views/Dashboard/Demographics.tsx
  statviz/src/views/Statistics/DemographicView.tsx
Due: none

fix tests
  front/src/components/BoxReconciliationOverlay/BoxReconciliationOverlay.test.tsx
  front/src/views/Boxes/BoxesView.test.tsx
  front/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
Due: none

add package.json for shared components
  front/package.json
  shared/package.json
  statviz/package.json
Due: none

fix circleci script
  .circleci/config.yml
Due: none

fix CircleCI config
  .circleci/config.yml
Due: none

move shared dev dependencies
  front/package.json
  package.json
  statviz/package.json
Due: none

add shared to root package.json
  package.json
  yarn.lock
Due: none

wip export
  statviz/src/components/VisHeader.tsx
  statviz/src/components/custom-graphs/BarChartCenterAxis.tsx
  statviz/src/components/nivo-graphs/BarChart.tsx
  statviz/src/components/visualizations/BoxFlowSankey.tsx
  statviz/src/components/visualizations/CreatedBoxes.tsx
  statviz/src/components/visualizations/DemographicChart.tsx
  statviz/src/utils/chart.ts
  statviz/src/utils/theme.ts
  statviz/src/views/Dashboard/Dashboard.tsx
  statviz/src/views/Dashboard/Demographics.tsx
Due: none

wip export
  statviz/src/components/VisHeader.tsx
  statviz/src/components/form/DateField.tsx
  statviz/src/components/form/NumberField.tsx
  statviz/src/components/form/RadioGroupField.tsx
  statviz/src/components/form/SelectField.tsx
  statviz/src/components/form/TimeRangeSelect.tsx
  statviz/src/components/nivo-graphs/BarChart.tsx
  statviz/src/components/visualizations/TopProducts.tsx
  statviz/src/hooks/useExport.ts
  statviz/src/utils/chartExport.tsx
  statviz/src/views/Dashboard/Dashboard.tsx
Due: none

add form fields as shared components
  shared/Form/DateField.tsx
  shared/Form/NumberField.tsx
  shared/Form/RadioGroupField.tsx
  shared/Form/SelectField.tsx
  shared/index.ts
Due: none

Generate target dimensions of different types
  back/boxtribute_server/business_logic/statistics/crud.py
Due: black, flake8

Add info about shipped boxes to movedBoxes statistic
  back/boxtribute_server/business_logic/statistics/crud.py
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8

Add info about lost/scrap boxes to movedBoxes statistic
  back/boxtribute_server/business_logic/statistics/crud.py
  back/boxtribute_server/enums.py
  back/boxtribute_server/graph_ql/definitions/public_api.graphql
  statviz/src/types/generated/graphql.ts
Due: black, flake8

improve scaling and refactoring
  statviz/src/components/VisHeader.tsx
  statviz/src/components/custom-graphs/BarChartCenterAxis.tsx
  statviz/src/components/nivo-graphs/BarChart.tsx
  statviz/src/components/nivo-graphs/PieChart.tsx
  statviz/src/components/visualizations/CreatedBoxes.tsx
  statviz/src/components/visualizations/DemographicChart.tsx
  statviz/src/components/visualizations/TopProducts.tsx
  statviz/src/hooks/useExport.ts
  statviz/src/state/exportingCharts.tsx
  statviz/src/state/selectedCharts.tsx
  statviz/src/utils/chartExport.tsx
  statviz/src/utils/theme.ts
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  eslint: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  prettier: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
