Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

black:
  name: Format Python files
  entry: black
  language: system
  require_serial: true

flake8:
  name: Lint Python files
  entry: flake8
  language: system
  require_serial: true

eslint:
  name: Lint Typescript files
  entry: ./invoke_yarn lint
  language: script
  require_serial: true

prettier:
  name: Format Typescript files
  entry: ./invoke_yarn format
  language: script
  require_serial: true

replace url parameter with globalPreferences parameter
  react/src/components/HeaderMenu/HeaderMenuContainer.tsx
  react/src/components/HeaderMenu/HeaderMenuDeskop.tsx
  react/src/components/HeaderMenu/HeaderMenuMobile.tsx
  react/src/components/QrReader/QrReaderContainer.tsx
  react/src/hooks/hooks.ts
  react/src/views/BaseDashboard/BaseDashboardView.tsx
  react/src/views/BoxCreate/BoxCreateView.tsx
  react/src/views/BoxEdit/BoxEditView.tsx
  react/src/views/BoxEdit/components/BoxEdit.tsx
  react/src/views/Boxes/BoxesView.tsx
  react/src/views/Transfers/CreateShipment/CreateShipmentView.tsx
  react/src/views/Transfers/CreateShipment/components/CreateShipment.tsx
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
Due: eslint, prettier

add start receiving action
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

fix tests
  react/src/tests/test-utils.tsx
Due: eslint, prettier

add loading and error handling to app.tsx
  react/src/App.tsx
  react/src/components/HeaderMenu/HeaderMenuContainer.tsx
  react/src/hooks/useLoadAndSetGlobalPreferences.ts
Due: eslint, prettier

refactor AutomaticBaseSwitcher
  react/src/App.tsx
  react/src/components/HeaderMenu/HeaderMenuContainer.tsx
  react/src/hooks/useLoadAndSetGlobalPreferences.ts
  react/src/views/AutomaticBaseSwitcher/AutomaticBaseSwitcher.tsx
  react/src/views/NotFoundView/NotFoundView.tsx
Due: eslint, prettier

change width of shipment card
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
Due: eslint, prettier

WIP: initial sortable version
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingContent.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingTable.tsx
Due: eslint, prettier

WIP: change tab label when receiving
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
Due: eslint, prettier

remove duplicate toast messsage
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

show spinner when mutations loading
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentContent.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentTableCells.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
Due: eslint, prettier

added delays between scans of QrReaderScanner
  react/src/components/QrReader/components/QrReader.tsx
  react/src/components/QrReader/components/QrReaderScanner.tsx
Due: eslint, prettier

fix QrReader issues in MultiBox tab
  react/src/components/QrReader/QrReaderContainer.tsx
  react/src/components/QrReader/components/QrReader.tsx
  react/src/components/QrReader/components/QrReaderScanner.tsx
Due: eslint, prettier

refactor shipment action buttons
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentActionButtons.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
Due: eslint, prettier

fix QrReaderScanner in distributions
  react/src/views/Distributions/DistroEventView/components/State2Packing/components/PackingAddBoxOrItemsForPackingListEntryOverlay/PackingScanBoxOrFindByLabelOverlayContent.tsx
Due: eslint, prettier

disable Apollo dev tools for production
  .circleci/config.yml
  docker-compose.yml
  react/src/providers/ApolloAuth0Provider.tsx
Due: eslint, prettier

WIP: add comment / icons
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingContent.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingTable.tsx
Due: eslint, prettier

update library path
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

Update hooks.ts
  react/src/hooks/hooks.ts
Due: eslint, prettier

remove unused varaible
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingContent.tsx
Due: eslint, prettier

fix test 4.1.3
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
Due: eslint, prettier

WIP: binding data in table row
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingContent.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingTable.tsx
Due: eslint, prettier

fix tests 4.3
  react/src/views/Transfers/CreateShipment/CreateShipmentView.test.tsx
Due: eslint, prettier

WIP: add wrap arround label id and comment icon
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingTable.tsx
Due: eslint, prettier

Delete PeeWee Moves in Readme
  back/README.md
  docs/peewee-moves/README.md
Due: none

Delete PeeWee Moves in Readme (#707)
  back/README.md
  docs/peewee-moves/README.md
Due: none

Update beta-user scopes for agreement/shipment mutations
  back/boxtribute_server/authz.py
Due: black, flake8

Use correct name for shipment ID variable
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

Return non-deleted *and* deleted details in Shipment.details field
  back/boxtribute_server/business_logic/box_transfer/shipment/fields.py
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

Add Box.shipmentDetail field
  back/boxtribute_server/business_logic/warehouse/box/fields.py
  back/boxtribute_server/graph_ql/types.graphql
  back/test/endpoint_tests/test_box.py
  back/test/endpoint_tests/test_shipment.py
  react/src/types/generated/graphql.ts
Due: black, flake8, eslint, prettier

add soft deleted field to product type
  back/boxtribute_server/graph_ql/types.graphql
  back/test/endpoint_tests/test_product.py
  react/src/types/generated/graphql.ts
Due: black, flake8, eslint, prettier

empty box's product value if is soft deleted
  react/src/queries/fragments.ts
  react/src/types/generated/graphql.ts
  react/src/views/BoxEdit/components/BoxEdit.tsx
Due: eslint, prettier

WIP: fix data alignment
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingTable.tsx
Due: eslint, prettier

rename deletedOn property to follow convention
  back/boxtribute_server/graph_ql/types.graphql
  back/boxtribute_server/models/definitions/product.py
  back/test/endpoint_tests/test_product.py
  react/src/queries/fragments.ts
  react/src/types/generated/graphql.ts
  react/src/views/BoxEdit/components/BoxEdit.tsx
Due: black, flake8, eslint, prettier

add env variable in docker-compose to enable apollo dev tools
  docker-compose.yml
Due: none

fix bug of rendering App.tsx without selectedBaseId not being set.
  react/src/hooks/useLoadAndSetGlobalPreferences.ts
Due: eslint, prettier

denormalize Qr-Codes in cache
  react/src/queries/cache.ts
  react/src/queries/queries.ts
Due: eslint, prettier

update Qr-Code in cache to be associated to newly created Boxes
  react/src/views/BoxCreate/BoxCreateView.tsx
Due: eslint, prettier

fix tests
  react/src/components/QrReaderOverlay/QrReaderOverlay.test.tsx
  react/src/mocks/components.tsx
  react/src/types/generated/graphql.ts
Due: eslint, prettier

WIP: add shipment receiving card
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingTable.tsx
Due: eslint, prettier

remove unused import
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingCard.tsx
Due: eslint, prettier

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  eslint: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  prettier: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
