Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier, generate-graphql-ts-types

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: black
        name: Format Python files
        entry: black
        types: [python]
        language: system
        require_serial: true
      - id: flake8
        name: Lint Python files
        entry: flake8
        types: [python]
        language: system
        require_serial: true
      - id: isort
        name: Sort Python imports
        entry: isort
        types_or: [cython, pyi, python]
        language: system
        require_serial: true
        args: ['--filter-files']
      - id: eslint
        name: Lint Typescript files
        entry: ./invoke_yarn lint
        files: react/.*\.[jt]sx?$
        types: [file]
        language: script
        require_serial: true
      - id: prettier
        name: Format Typescript files
        entry: ./invoke_yarn format
        files: react/.*\.[jt]sx?$
        types: [file]
        language: script
        require_serial: true
      - id: generate-graphql-ts-types
        name: Generate GraphQL Typescript definitions
        entry: ./invoke_yarn graphql-types
        files: back/.*\.graphql$
        types: [file]
        language: script
        require_serial: true

Use literal URLs for allowed origins instead of regexes
  back/boxtribute_server/routes.py
  back/test/endpoint_tests/test_app.py
Due: black, flake8

Correctly configure CORS in back-end
  back/boxtribute_server/app.py
  back/boxtribute_server/routes.py
  back/test/endpoint_tests/test_app.py
Due: black, flake8

Enable locally running production server
  docker-compose.yml
Due: none

Fix CORS for local development
  back/boxtribute_server/routes.py
Due: black, flake8

resolve loader utils to non-vulnerable version - update storybook packages - update loader utiles in the yarn.lock to non-vulnerable version - update msw script
  react/package.json
  react/public/mockServiceWorker.js
  react/yarn.lock
Due: eslint, prettier

Add utility functions for detecting environments
  back/boxtribute_server/authz.py
  back/boxtribute_server/logging.py
  back/boxtribute_server/routes.py
  back/boxtribute_server/utils.py
Due: black, flake8

Fix substitution of HEAPIO_APP_ID to be a string
  react/public/heapanalytics.js
Due: eslint, prettier

Fix substitution of HEAPIO_APP_ID in CircleCI job
  .circleci/config.yml
Due: none

Allow x-clacks-overhead as CORS header
  back/boxtribute_server/routes.py
Due: black, flake8

Configure mypy pre-commit hook
  .pre-commit-config.yaml
  back/boxtribute_server/auth.py
  back/scripts/list_models.py
  docs/peewee-moves/peewee-moves_test_migration.py
  fetch_token
Due: black, flake8

Set up Python type checking with mypy
  .gitignore
  back/boxtribute_server/db.py
  back/boxtribute_server/graph_ql/definitions.py
  back/boxtribute_server/logging.py
  back/requirements-dev.txt
Due: black, flake8

Type-annotate functions in authz and utils modules
  back/boxtribute_server/authz.py
  back/boxtribute_server/utils.py
Due: black, flake8

add colors to tag options
  react/src/components/Form/SelectField.tsx
  react/src/views/BoxEdit/components/BoxEdit.tsx
Due: eslint, prettier

Correctly navigate to base of scanned box
  react/src/components/HeaderMenu/HeaderMenuContainer.tsx
Due: eslint, prettier

Rename folder with non-existing QR codes
  docs/qr/README.md
  docs/qr/non-existing/12ca607ce60c484bdbb703def950c5b.png
  docs/qr/non-existing/13f12820c8010f2f7349962930e6bf4.png
  docs/qr/non-existing/149ff66629377f6404b5c8d32936855.png
  docs/qr/non-existing/168842e6389b520d4b1836562aa1f05.png
  docs/qr/non-existing/22324b7a180bdd31e125d5d50791d17.png
  docs/qr/non-existing/387b0f0f5e62cebcafd48383035a92a.png
  docs/qr/non-existing/69107b2e2b4157b5efe10415bc0bba0.png
  docs/qr/non-existing/91c1def0b674d4e7cb92b61dbe00846.png
  docs/qr/non-existing/98b51c8cd1a02e54ab47edcc5733139.png
  docs/qr/non-existing/a61e0efe25b75032b91106372674c26.png
  docs/qr/non-existing/b8f0730d36571e4149ba3862379bb88.png
  docs/qr/non-existing/cba56d486db6d39209dbbf9e45353c4.png
  docs/qr/non-existing/d0e144a0a4dc0d8af55e2b686a2e97e.png
  docs/qr/non-existing/e1fdfdd942db0e764c9bea06c03ba2b.png
  docs/qr/non-existing/f660f96618eaa81e16b7869aca8d67d.png
  docs/qr/non-existing/f6f20e805192618def2cb400776a2aa.png
Due: none

Use Wrap component for title and edit button in BoxView
  react/src/views/Box/components/BoxDetails.tsx
Due: eslint, prettier

Add py.typed marker
  back/boxtribute_server/py.typed
  back/setup.py
Due: black, flake8

add helper function to test color contrast
  react/src/utils/helpers.ts
Due: eslint, prettier

change font color to match tag background color
  react/src/components/Form/SelectField.tsx
Due: eslint, prettier

adjust box view tags font color
  react/src/views/Box/components/BoxDetails.tsx
Due: eslint, prettier

add tag color to box create
  react/src/views/BoxCreate/components/BoxCreate.tsx
Due: eslint, prettier

change helper name & add comment
  react/src/components/Form/SelectField.tsx
  react/src/utils/helpers.ts
  react/src/views/Box/components/BoxDetails.tsx
Due: eslint, prettier

Remove accidental extra character
  .circleci/config.yml
Due: none

add eslint package for testing
  react/.eslintrc
Due: none

wrap chakraProvider around custom renderer
  react/src/utils/test-utils.tsx
Due: eslint, prettier

Format family head ID if given
  back/scripts/export.py
Due: black, flake8

Add logging controlled by --verbose option
  back/scripts/export.py
Due: black, flake8

Initial version for export-beneficiary script
  back/scripts/export.py
Due: black, flake8

Add error handling
  back/scripts/export.py
Due: black, flake8

single out testing mocks
  react/src/mocks/boxes.ts
  react/src/mocks/locations.ts
  react/src/mocks/products.ts
  react/src/mocks/sizeRanges.ts
  react/src/mocks/tags.ts
Due: eslint, prettier

move test-utils to separate folder
  react/src/tests/test-utils.tsx
  react/src/utils/test-utils.tsx
  react/src/views/Box/BoxView.test.tsx
  react/src/views/Boxes/BoxesView.test.tsx
  react/src/views/Distributions/DistroSpotsView/components/DistroSpotsContainer.stories.tsx
Due: eslint, prettier

ignore eslint in BoxView.test
  react/.eslintignore
Due: none

rewrite BoxEdit test if initial render is correct
  react/.eslintrc
  react/src/tests/helpers.ts
  react/src/tests/test-utils.tsx
  react/src/views/BoxEdit/BoxEditView.test.tsx
Due: eslint, prettier

Add Test for cancel Button
  react/src/tests/test-utils.tsx
  react/src/views/BoxEdit/BoxEditView.test.tsx
Due: eslint, prettier

Add tests for Product change
  react/src/tests/helpers.ts
  react/src/views/BoxEdit/BoxEditView.test.tsx
Due: eslint, prettier

add documentation
  react/README.md
  react/src/tests/test-utils.tsx
Due: eslint, prettier

Fix bug of product selection causing reset field of size
  react/src/views/BoxEdit/components/BoxEdit.tsx
Due: eslint, prettier

Enable fetching token for Auth0 Management API
  back/boxtribute_server/auth.py
  fetch_token
Due: black, flake8

Remove RefetchQuery from BoxEditView
  react/src/views/BoxEdit/BoxEditView.tsx
Due: eslint, prettier

add mock data
  react/src/mocks/boxes.ts
  react/src/mocks/histories.ts
  react/src/mocks/locations.ts
  react/src/mocks/products.ts
  react/src/mocks/sizeRanges.ts
  react/src/mocks/tags.ts
Due: eslint, prettier
