Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

black:
  name: Format Python files
  entry: black
  language: system
  require_serial: true

flake8:
  name: Lint Python files
  entry: flake8
  language: system
  require_serial: true

eslint:
  name: Lint Typescript files
  entry: ./invoke_yarn lint
  language: script
  require_serial: true

prettier:
  name: Format Typescript files
  entry: ./invoke_yarn format
  language: script
  require_serial: true

Input Validation for Find By Label
  react/src/components/QrReaderOverlay/QrReaderOverlay.tsx
Due: eslint, prettier

Add Loading State to Find Box By Label
  react/src/components/QrReaderOverlay/QrReaderOverlay.tsx
  react/src/components/QrReaderOverlay/QrReaderOverlayContainer.tsx
Due: eslint, prettier

Remove toast for Forwarding to BoxCreate
  react/src/components/HeaderMenu/HeaderMenuContainer.tsx
Due: eslint, prettier

Fix typo
  react/src/components/QrReaderOverlay/QrReaderOverlayContainer.tsx
Due: eslint, prettier

disable label identifier and find button while loading
  react/src/components/QrReaderOverlay/QrReaderOverlay.tsx
Due: eslint, prettier

fix validation message
  react/src/components/QrReaderOverlay/QrReaderOverlay.tsx
Due: eslint, prettier

BoxView: Create Test for Test Case 3.1.3.3 (#594)
  react/src/views/Box/BoxView.test.tsx
Due: eslint, prettier

Updating Architecture List and fixing typos
  README.md
Due: none

Add source organisation ID as input argument when creating agreement
  back/boxtribute_server/box_transfer/agreement/crud.py
  back/boxtribute_server/graph_ql/inputs.graphql
  back/test/endpoint_tests/test_permissions.py
  back/test/endpoint_tests/test_transfer_agreement.py
  back/test/integration_tests/test_operations.py
  react/src/types/generated/graphql.ts
Due: black, flake8, eslint, prettier

global components for date and radio group fields
  react/src/components/Form/DateField.tsx
  react/src/components/Form/RadioGroupField.tsx
Due: eslint, prettier

set default color for select field
  react/src/components/Form/SelectField.tsx
Due: eslint, prettier

fix issue with radio and checkbox pointer event
  react/src/utils/theme.ts
Due: eslint, prettier

update eslintignore to apply format to transfers
  react/.eslintignore
Due: none

create transfer agreement page & route
  react/src/App.tsx
  react/src/types/generated/graphql.ts
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
  react/src/views/Transfers/CreateTransferAgreement/components/CreateTransferAgreement.tsx
Due: eslint, prettier

upgrade sentry package to version 7.31.1
  react/package.json
  react/yarn.lock
Due: none

add source organisation id & clean up
  react/src/components/Form/DateField.tsx
  react/src/components/Form/RadioGroupField.tsx
  react/src/types/generated/graphql.ts
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
  react/src/views/Transfers/CreateTransferAgreement/components/CreateTransferAgreement.tsx
Due: eslint, prettier

Update typing packages
  back/requirements-dev.txt
Due: none

Update typing packages (#619)
  back/requirements-dev.txt
Due: none

update pictures in docs/qr
  docs/qr/code-not-in-db-f660f96618eaa81e16b7869aca8d67d.png
  docs/qr/without-box/0af9ec1a97906cf1cac5f50617a687b.png
  docs/qr/without-box/12ca607ce60c484bdbb703def950c5b.png
  docs/qr/without-box/13f12820c8010f2f7349962930e6bf4.png
  docs/qr/without-box/149ff66629377f6404b5c8d32936855.png
  docs/qr/without-box/168842e6389b520d4b1836562aa1f05.png
  docs/qr/without-box/22324b7a180bdd31e125d5d50791d17.png
  docs/qr/without-box/387b0f0f5e62cebcafd48383035a92a.png
  docs/qr/without-box/69107b2e2b4157b5efe10415bc0bba0.png
  docs/qr/without-box/91c1def0b674d4e7cb92b61dbe00846.png
  docs/qr/without-box/98b51c8cd1a02e54ab47edcc5733139.png
  docs/qr/without-box/a61e0efe25b75032b91106372674c26.png
  docs/qr/without-box/b8f0730d36571e4149ba3862379bb88.png
  docs/qr/without-box/cba56d486db6d39209dbbf9e45353c4.png
  docs/qr/without-box/d0e144a0a4dc0d8af55e2b686a2e97e.png
  docs/qr/without-box/e1fdfdd942db0e764c9bea06c03ba2b.png
  docs/qr/without-box/f6f20e805192618def2cb400776a2aa.png
Due: none

add transfer agreements in init.sql
  back/init.sql
Due: none

Move QR code images move to separate lines
  README.md
Due: none

Move loaders code into graph_ql/ module
  back/boxtribute_server/graph_ql/loaders.py
  back/boxtribute_server/routes.py
Due: black, flake8

Extend info about dev DB data
  README.md
Due: none

Add backend components diagram
  back/README.md
  docs/c4-backend-components.jpg
Due: none

Actually name back-end unit test directory as such
  back/README.md
  back/test/unit_tests/__init__.py
  back/test/unit_tests/test_auth.py
  back/test/unit_tests/test_authz.py
Due: black, flake8

Update name boxwise -> boxtribute
  CONTRIBUTING.md
  back/setup.py
  react/package.json
Due: black, flake8

Various changes
  README.md
Due: none

WIP: draft test case 4.1.1
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
Due: eslint, prettier

add fixed stock and qr data to init.sql
  back/init.sql
Due: none

add transferAgreement Route
  react/src/App.tsx
Due: eslint, prettier

first Table View of TransferAgreements
  react/src/types/generated/graphql.ts
  react/src/utils/fragments.ts
  react/src/views/TransferAgreementOverview/TransferAgreementOverviewView.tsx
  react/src/views/TransferAgreementOverview/TransferAgreementTable.tsx
Due: eslint, prettier

Update help email address
  CONTRIBUTING.md
Due: none

WIP: add mock data for organisations
  react/src/mocks/oraganisations.ts
Due: eslint, prettier

add GlobalPreferencesCoontext into test render function
  react/src/providers/GlobalPreferencesProvider.tsx
  react/src/tests/test-utils.tsx
Due: eslint, prettier

WIP: fix test case 4.1.1.2
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
Due: eslint, prettier

remove success alert & clean up
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
  react/src/views/Transfers/CreateTransferAgreement/components/CreateTransferAgreement.tsx
Due: eslint, prettier

clean up
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
Due: eslint, prettier

WIP: add more tests - complete test case 4.1.1 - complete test case 4.1.4 - add first draft test case 4.1.2 & 4.1.3
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
Due: eslint, prettier

show an alert if the initial data not fetched
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
Due: eslint, prettier

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  eslint: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  prettier: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
