Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: black
        name: Format Python files
        entry: black
        types: [python]
        language: system
        require_serial: true
      - id: flake8
        name: Lint Python files
        entry: flake8
        types: [python]
        language: system
        require_serial: true
      - id: mypy
        name: Run Python type checks
        entry: mypy
        types_or: [python, pyi]
        exclude: back/test
        language: system
        args: ["--scripts-are-modules"]
        require_serial: true
      - id: isort
        name: Sort Python imports
        entry: isort
        types_or: [cython, pyi, python]
        language: system
        require_serial: true
        args: ['--filter-files']
      - id: eslint
        name: Lint Typescript files
        entry: ./invoke_yarn lint
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: prettier
        name: Format Typescript files
        entry: ./invoke_yarn format
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: generate-graphql-ts-types
        name: Generate GraphQL Typescript definitions
        entry: ./invoke_yarn graphql-types
        types: [graphql]
        language: script
        require_serial: true

test 3.4.1.3
  react/src/components/QrReaderOverlay/OrReaderOverlay.test.tsx
Due: eslint, prettier

test 3.4.1.2
  react/.eslintignore
  react/.prettierignore
  react/src/components/QrReaderOverlay/OrReaderOverlay.test.tsx
Due: eslint, prettier

Fix memory leak in Find Box
  react/src/components/QrReaderOverlay/QrReaderOverlayContainer.tsx
Due: eslint, prettier

test 3.4.1.4
  react/src/components/QrReaderOverlay/OrReaderOverlay.test.tsx
Due: eslint, prettier

Change text of error message as in Test Plan
  react/src/components/HeaderMenu/HeaderMenuContainer.tsx
  react/src/components/QrReaderOverlay/OrReaderOverlay.test.tsx
Due: eslint, prettier

Enable all tests again
  react/src/components/QrReaderOverlay/OrReaderOverlay.test.tsx
Due: eslint, prettier

change text as requested by Roanna
  react/src/components/HeaderMenu/HeaderMenuContainer.tsx
Due: eslint, prettier

fix redundant targetBases
  back/boxtribute_server/business_logic/box_transfer/agreement/crud.py
Due: black, flake8

add all the test cases for 4.3
  react/src/mocks/transferAgreements.ts
  react/src/views/Transfers/CreateTransferShipment/CreateTransferShipmentView.test.tsx
  react/src/views/Transfers/CreateTransferShipment/CreateTransferShipmentView.tsx
  react/src/views/Transfers/CreateTransferShipment/components/CreateTransferShipment.tsx
Due: eslint, prettier

increase timeout for jest
  react/src/views/Transfers/CreateTransferShipment/CreateTransferShipmentView.test.tsx
Due: eslint, prettier

First commit
  react/src/components/QrReaderOverlay/QrReaderOverlay.tsx
  react/src/components/QrReaderOverlay/QrReaderOverlayContainer.tsx
  react/src/hooks/QrResolver.ts
Due: eslint, prettier

change variable name
  react/src/mocks/transferAgreements.ts
  react/src/views/Transfers/CreateTransferShipment/CreateTransferShipmentView.test.tsx
Due: eslint, prettier

choose the agreement id based on the selected base id
  react/src/views/Transfers/CreateTransferShipment/CreateTransferShipmentView.tsx
  react/src/views/Transfers/CreateTransferShipment/components/CreateTransferShipment.tsx
Due: eslint, prettier

add fragments for transfer agreement and base queries
  react/src/queries/fragments.ts
  react/src/types/generated/graphql.ts
  react/src/views/Transfers/CreateTransferShipment/CreateTransferShipmentView.tsx
Due: eslint, prettier

fix eslint object-shorthand
  react/src/hooks/hooks.ts
Due: eslint, prettier

Update Auth0Provider to fit to update of Auth0 SDK
  react/src/providers/Auth0ProviderWithHistory.tsx
Due: eslint, prettier

fix error message names
  react/src/components/HeaderMenu/HeaderMenuContainer.tsx
  react/src/components/QrReaderOverlay/OrReaderOverlay.test.tsx
Due: eslint, prettier

add comment for test 3.4.1.1
  react/src/components/QrReaderOverlay/OrReaderOverlay.test.tsx
Due: eslint, prettier

Add Test for internal server error
  react/src/components/HeaderMenu/HeaderMenuContainer.tsx
  react/src/components/QrReaderOverlay/OrReaderOverlay.test.tsx
Due: eslint, prettier

add description to mocks/components
  react/src/mocks/components.tsx
Due: eslint, prettier

add description to mockedUseAuth0
  react/src/mocks/hooks.ts
Due: eslint, prettier

test disabling setup_box_transfer_models
  back/test/conftest.py
Due: black, flake8

Display Toast Message Bottom on Mobile (#593)
  react/src/hooks/hooks.ts
Due: eslint, prettier

Add beta-access for mobile-distro mutations
  back/boxtribute_server/authz.py
Due: black, flake8

fix Auth0Provider issue after upgrade
  react/src/providers/Auth0ProviderWithHistory.tsx
Due: eslint, prettier

fix typo and clean up duplicat fields
  react/src/queries/fragments.ts
  react/src/views/Transfers/CreateTransferShipment/CreateTransferShipmentView.tsx
Due: eslint, prettier

Add beta-access for mobile-distro mutations (#637)
  back/boxtribute_server/authz.py
Due: black, flake8

add optional base option to store extra data in the select field
  react/src/components/Form/SelectField.tsx
Due: eslint, prettier

add agreement id and special note as data to the select field options - remove logic to find the agreement id after submission
  react/src/views/Transfers/CreateTransferShipment/CreateTransferShipmentView.tsx
  react/src/views/Transfers/CreateTransferShipment/components/CreateTransferShipment.tsx
Due: eslint, prettier

add new test case for 4.3.3.4 and clean up - split the test cases - remove cleanup
  react/src/views/Transfers/CreateTransferShipment/CreateTransferShipmentView.test.tsx
  react/src/views/Transfers/CreateTransferShipment/CreateTransferShipmentView.tsx
Due: eslint, prettier

remove jest timeout
  react/src/views/Transfers/CreateTransferShipment/CreateTransferShipmentView.test.tsx
Due: eslint, prettier

remove comments
  react/src/views/Transfers/CreateTransferShipment/components/CreateTransferShipment.tsx
Due: eslint, prettier

increase jest timeout to 12 sec
  react/src/views/Transfers/CreateTransferShipment/CreateTransferShipmentView.test.tsx
Due: eslint, prettier

make transfer icons global components
  react/src/components/Icon/Transfer/ReceivingIcon.tsx
  react/src/components/Icon/Transfer/SendingIcon.tsx
  react/src/views/Transfers/CreateTransferShipment/components/CreateTransferShipment.tsx
Due: eslint, prettier

remove redundant type field in the fragment
  react/src/queries/fragments.ts
Due: eslint, prettier

fix filtering of user's agreements - filter all accepted agreements that have the user's org as source - filter all accepted bidirectional agreements that have the user's org as target
  react/src/views/Transfers/CreateTransferShipment/CreateTransferShipmentView.tsx
Due: eslint, prettier

add more users to seed
  back/init.sql
Due: none

update cms_usergroups
  back/init.sql
Due: none

update cms_usergroups_camps
  back/init.sql
Due: none

update cms_usergroups_functions
  back/init.sql
Due: none
