Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

black:
  name: Format Python files
  entry: black
  language: system
  require_serial: true

flake8:
  name: Lint Python files
  entry: flake8
  language: system
  require_serial: true

eslint:
  name: Lint Typescript files
  entry: ./invoke_yarn lint
  language: script
  require_serial: true

prettier:
  name: Format Typescript files
  entry: ./invoke_yarn format
  language: script
  require_serial: true

refactor box view test 3.1 - fix issue with number of items selector - replace test id selector with findByRole Co-authored-by: HaGuesto <HaGuesto@users.noreply.github.com>
  react/src/views/Box/BoxView.test.tsx
Due: eslint, prettier

Revert "Remove RefetchQuery from BoxEditView"
  react/src/views/BoxEdit/BoxEditView.tsx
Due: eslint, prettier

WIP: add more tests
  react/src/mocks/boxes.ts
  react/src/mocks/locations.ts
  react/src/tests/helpers.ts
  react/src/views/Box/BoxView.test.tsx
Due: eslint, prettier

WIP: add more tests & clean up - add test case for 3.1.5, 3.1.6, 3.1.4, 3.1.1 - update mock data
  react/src/mocks/boxes.ts
  react/src/mocks/histories.ts
  react/src/mocks/products.ts
  react/src/views/Box/BoxView.test.tsx
  react/src/views/Box/components/HistoryEntries.tsx
Due: eslint, prettier

WIP: try fix 3.1.4.1 test case selector
  react/src/views/Box/BoxView.test.tsx
Due: eslint, prettier

WIP: add test case for 3.1.2
  react/src/views/Box/BoxView.test.tsx
Due: eslint, prettier

WIP: increase jest timeout
  react/src/views/Box/BoxView.test.tsx
Due: eslint, prettier

WIP: change 3.1.4.1 button selector
  react/src/views/Box/BoxView.test.tsx
Due: eslint, prettier

unify how mutation error is shown
  react/src/views/BoxEdit/BoxEditView.tsx
Due: eslint, prettier

add error tests for BoxEdit
  react/src/views/BoxEdit/BoxEditView.test.tsx
Due: eslint, prettier

rename some tests
  react/src/views/BoxEdit/BoxEditView.test.tsx
Due: eslint, prettier

add frontend codecov to circleCI
  .circleci/config.yml
  react/package.json
  react/yarn.lock
Due: none

add learnings about Apollo to the README
  react/README.md
Due: none

fix BoxesView Test
  .circleci/config.yml
  react/.gitignore
  react/src/views/Boxes/BoxesView.test.tsx
Due: eslint, prettier

fix boxes view test
  react/src/views/Boxes/BoxesView.test.tsx
Due: eslint, prettier

add failed mutations test cases - add new test cases 3.1.7 and 3.1.8 for the failed mutions - clean up and remove extra comments
  react/src/views/Box/BoxView.test.tsx
Due: eslint, prettier

add two more test cases & clean up - test for history record icons - split lost and scrap test cases - remove extra comments - add waitFor block into 3.1.8
  react/src/mocks/histories.ts
  react/src/views/Box/BoxView.test.tsx
Due: eslint, prettier

insert seq in BoxView and BoxEditView components queries
  react/src/types/generated/graphql.ts
  react/src/views/Box/BoxView.tsx
  react/src/views/BoxEdit/BoxEditView.tsx
Due: eslint, prettier

change description and comments
  react/src/views/Box/BoxView.test.tsx
Due: eslint, prettier

Sort history entries by ID instead of change date
  back/boxtribute_server/warehouse/box/crud.py
  back/test/endpoint_tests/test_box.py
Due: black, flake8

Sort history entries by ID instead of change date (#590)
  back/boxtribute_server/warehouse/box/crud.py
  back/test/endpoint_tests/test_box.py
Due: black, flake8

add GlobalPreferenceProvider to test render function
  react/src/tests/test-utils.tsx
Due: eslint, prettier

Initial render of QrReaderOverlay test
  react/src/components/QrReaderOverlay/OrReaderOverlay.test.tsx
Due: eslint, prettier

move toast to bottom
  react/src/utils/error-handling.ts
  react/src/utils/hooks.ts
Due: eslint, prettier

Don't bold box comment text
  react/src/views/Box/components/BoxDetails.tsx
Due: eslint, prettier

remove obsolete toast implementation
  react/src/components/HeaderMenu/HeaderMenuContainer.tsx
Due: eslint, prettier

update link in readme
  react/README.md
Due: none

update to newer node/ yarn version
  react/Dockerfile
  react/yarn.lock
Due: none

mock event of QR found
  react/src/components/QrReaderOverlay/OrReaderOverlay.test.tsx
Due: eslint, prettier

fix false positive BoxView test
  react/src/views/Box/BoxView.test.tsx
Due: eslint, prettier

shows toast message bottom on mobile view
  react/src/utils/hooks.ts
Due: eslint, prettier

test 3.4.2.1 done
  react/src/components/QrReaderOverlay/OrReaderOverlay.test.tsx
Due: eslint, prettier

add sorting in BoxEditView, BoxCreateView and BoxView components
  react/src/types/generated/graphql.ts
  react/src/views/Box/BoxView.tsx
  react/src/views/BoxCreate/BoxCreateView.tsx
  react/src/views/BoxEdit/BoxEditView.tsx
Due: eslint, prettier

refactor test 3.4.2.1
  react/src/components/QrReaderOverlay/OrReaderOverlay.test.tsx
  react/src/mocks/components.tsx
  react/src/mocks/functions.ts
  react/src/mocks/hooks.ts
Due: eslint, prettier

create custom yarn.lock file from master
  react/yarn.lock
Due: none

update node version in docker to match with circleci
  react/Dockerfile
Due: none

check yarn.lock on circleci
  .circleci/config.yml
Due: none

switch yarn immutable to frozen-lockfile in circleci
  .circleci/config.yml
Due: none

add test case 3.1.3.3
  react/src/views/Box/BoxView.test.tsx
Due: eslint, prettier

add waitfor block
  react/src/views/Box/BoxView.test.tsx
Due: eslint, prettier

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  eslint: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  prettier: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
