Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

black:
  name: Format Python files
  entry: black
  language: system
  require_serial: true

flake8:
  name: Lint Python files
  entry: flake8
  language: system
  require_serial: true

eslint:
  name: Lint Typescript files
  entry: ./invoke_yarn lint
  language: script
  require_serial: true

prettier:
  name: Format Typescript files
  entry: ./invoke_yarn format
  language: script
  require_serial: true

fix: react/Dockerfile to reduce vulnerabilities
  react/Dockerfile
Due: none

showing alert on creation of identical transfer agreement
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
Due: eslint, prettier

add an extra logic to use error description text
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
Due: eslint, prettier

add test case 4.1.5
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
Due: eslint, prettier

revert change in box edit
  react/src/views/BoxEdit/components/BoxEdit.tsx
Due: eslint, prettier

Return grouped tag IDs from beneficiaryDemographics query
  back/boxtribute_server/business_logic/statistics/crud.py
  back/boxtribute_server/graph_ql/definitions/public_api.graphql
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8

Make method to convert group-concat'ed IDs available for all modules
  back/boxtribute_server/business_logic/box_transfer/agreement/crud.py
  back/boxtribute_server/models/utils.py
  back/setup.cfg
Due: black, flake8

Convert tag IDs to list of integers in BeneficiaryDemographicsResult
  back/boxtribute_server/business_logic/statistics/crud.py
  back/boxtribute_server/graph_ql/definitions/public_api.graphql
Due: black, flake8

Return tag dimensions in beneficiaryDemographics query
  back/boxtribute_server/business_logic/statistics/crud.py
  back/boxtribute_server/graph_ql/definitions/public_api.graphql
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8

ShipmentView: Add “Are you sure” Alert Before Marking Shipment as Lost (#896)
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentActionButtons.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentOverlay.tsx
Due: eslint, prettier

Use batch-loading for organisation fields
  back/boxtribute_server/business_logic/box_transfer/agreement/fields.py
  back/boxtribute_server/business_logic/core/base/fields.py
  back/boxtribute_server/business_logic/user/fields.py
  back/boxtribute_server/graph_ql/execution.py
  back/boxtribute_server/graph_ql/loaders.py
Due: black, flake8

Make more use of base-loader
  back/boxtribute_server/business_logic/beneficiary/fields.py
  back/boxtribute_server/business_logic/tag/fields.py
  back/boxtribute_server/business_logic/warehouse/product/fields.py
Due: black, flake8

Introduce SimpleDataLoader class
  back/boxtribute_server/graph_ql/loaders.py
Due: black, flake8

Make more use of user-loader
  back/boxtribute_server/business_logic/box_transfer/agreement/fields.py
Due: black, flake8

Avoid hidden database-select by peewee
  back/boxtribute_server/business_logic/warehouse/qr_code/fields.py
Due: black, flake8

Use work-around to use SimpleDataLoader for batch-loading product categories
  back/boxtribute_server/graph_ql/loaders.py
Due: black, flake8

fix transferagreement caching error
  react/src/types/generated/graphql.ts
  react/src/views/Transfers/CreateShipment/CreateShipmentView.tsx
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
Due: eslint, prettier

drop transfer type radio button and update tests
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
  react/src/views/Transfers/CreateTransferAgreement/components/CreateTransferAgreement.tsx
Due: eslint, prettier

clean up
  react/src/views/Transfers/CreateTransferAgreement/components/CreateTransferAgreement.tsx
Due: eslint, prettier

remove statistic route from default frontend
  react/src/App.tsx
Due: eslint, prettier

new data structure
  statviz/.vite/deps_temp_4475ae61/package.json
  statviz/src/App.tsx
  statviz/src/types/generated/gql.ts
  statviz/src/views/Statistics/StatisticsView.tsx
  statviz/src/views/Statistics/components/DemographicChart.tsx
Due: none

update statviz deps
  statviz/package.json
  statviz/yarn.lock
Due: none

first version
  docs/adr/adr_backend_etl_and_hosting_for_StatViz.md
Due: none

fix: upgrade @sentry/tracing from 7.38.0 to 7.60.1
  react/package.json
  react/yarn.lock
Due: none

fix: upgrade @sentry/react from 7.38.0 to 7.60.1
  react/package.json
  react/yarn.lock
Due: none

fix: upgrade @sentry/integrations from 7.38.0 to 7.60.1
  react/package.json
  react/yarn.lock
Due: none

fix: upgrade @apollo/client from 3.7.1 to 3.7.17
  react/package.json
  react/yarn.lock
Due: none

fix: upgrade zod from 3.19.1 to 3.21.4
  react/package.json
  react/yarn.lock
Due: none

wip tag filter
  statviz/package.json
  statviz/src/components/Form/SelectField.tsx
  statviz/src/types/generated/gql.ts
  statviz/src/types/generated/graphql.ts
  statviz/src/utils/helpers.ts
  statviz/src/utils/theme.ts
  statviz/src/views/Statistics/StatisticsView.tsx
  statviz/src/views/Statistics/components/DemographicChart.tsx
  statviz/src/views/Statistics/components/filter/FilterTag.tsx
  statviz/yarn.lock
Due: none

update react tsconfig
  react/tsconfig.json
Due: none

add tags filter
  statviz/src/views/Statistics/components/filter/FilterTag.tsx
Due: none

fix: upgrade @sentry/tracing from 7.38.0 to 7.61.0
  react/package.json
  react/yarn.lock
Due: none

fix: upgrade @sentry/react from 7.38.0 to 7.61.0
  react/package.json
  react/yarn.lock
Due: none

fix: upgrade @sentry/integrations from 7.38.0 to 7.61.0
  react/package.json
  react/yarn.lock
Due: none

fix: upgrade @babel/runtime from 7.20.13 to 7.22.6
  react/package.json
  react/yarn.lock
Due: none

fix: upgrade react-big-calendar from 1.5.2 to 1.8.1
  react/package.json
  react/yarn.lock
Due: none

Read timezone information from user JWT
  back/boxtribute_server/auth.py
  back/test/auth.py
  back/test/unit_tests/test_authz.py
  docs/adr/adr_authorization-specification.md
Due: black, flake8

Use built-in zoneinfo module instead of dateutil.tz
  back/boxtribute_server/business_logic/box_transfer/agreement/crud.py
Due: black, flake8

Remove usage of python-dateutil package entirely
  back/boxtribute_server/graph_ql/scalars.py
  back/requirements-dev.txt
  back/requirements.txt
  back/test/endpoint_tests/test_distribution_event_tracking_group.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  eslint: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  prettier: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
