Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: black
        name: Format Python files
        entry: black
        types: [python]
        language: system
        require_serial: true
      - id: flake8
        name: Lint Python files
        entry: flake8
        types: [python]
        language: system
        require_serial: true
      - id: mypy
        name: Run Python type checks
        entry: mypy
        types_or: [python, pyi]
        exclude: back/test
        language: system
        args: ["--scripts-are-modules"]
        require_serial: true
      - id: isort
        name: Sort Python imports
        entry: isort
        types_or: [cython, pyi, python]
        language: system
        require_serial: true
        args: ['--filter-files']
      - id: eslint
        name: Lint Typescript files
        entry: ./invoke_yarn lint
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: prettier
        name: Format Typescript files
        entry: ./invoke_yarn format
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: generate-graphql-ts-types
        name: Generate GraphQL Typescript definitions
        entry: ./invoke_yarn graphql-types
        types: [graphql]
        language: script
        require_serial: true

fix test fixtures to have correct property
  back/test/data/product.py
  back/test/endpoint_tests/test_product.py
Due: black, flake8

Change box state transitions during shipment reception
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

Ignore non-Receiving boxes requested to be reconciled
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
Due: black, flake8

Rename box state to Receiving
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/boxtribute_server/enums.py
  back/boxtribute_server/graph_ql/types.graphql
  back/test/endpoint_tests/test_box.py
  back/test/endpoint_tests/test_shipment.py
  react/src/types/generated/graphql.ts
Due: black, flake8, eslint, prettier

Pass query conditions directly into where() method
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
Due: black, flake8

Test shipment reception flow with box removed during preparing
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/test/data/__init__.py
  back/test/data/shipment_detail.py
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

fix test mock data and add new test case 4.5.4
  react/src/mocks/shipments.ts
  react/src/views/Transfers/ShipmentView/ShipmentView.test.tsx
Due: eslint, prettier

Simplify GraphQL enum definitions
  back/boxtribute_server/graph_ql/enums.py
Due: black, flake8

Remove usage of deprecated convert_kwargs_to_snake_case decorator
  back/boxtribute_server/business_logic/beneficiary/mutations.py
  back/boxtribute_server/business_logic/beneficiary/queries.py
  back/boxtribute_server/business_logic/box_transfer/agreement/mutations.py
  back/boxtribute_server/business_logic/box_transfer/shipment/mutations.py
  back/boxtribute_server/business_logic/core/base/fields.py
  back/boxtribute_server/business_logic/core/product_category/fields.py
  back/boxtribute_server/business_logic/metrics/queries.py
  back/boxtribute_server/business_logic/mobile_distribution/event/mutations.py
  back/boxtribute_server/business_logic/mobile_distribution/mutations.py
  back/boxtribute_server/business_logic/mobile_distribution/packing_list_entry/mutations.py
  back/boxtribute_server/business_logic/mobile_distribution/spot/mutations.py
  back/boxtribute_server/business_logic/tag/mutations.py
  back/boxtribute_server/business_logic/warehouse/box/fields.py
  back/boxtribute_server/business_logic/warehouse/box/mutations.py
  back/boxtribute_server/business_logic/warehouse/box/queries.py
  back/boxtribute_server/business_logic/warehouse/location/fields.py
  back/boxtribute_server/business_logic/warehouse/product/queries.py
  back/boxtribute_server/business_logic/warehouse/qr_code/mutations.py
  back/boxtribute_server/business_logic/warehouse/qr_code/queries.py
  back/boxtribute_server/graph_ql/schema.py
Due: black, flake8

Flatten arguments into make_executable_schema
  back/boxtribute_server/graph_ql/schema.py
Due: black, flake8

Fix cache checksums for Python dependencies in CircleCI
  .circleci/config.yml
Due: none

clean up & align the product title with item in mobile view
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingTable.tsx
Due: eslint, prettier

incorporate QR scan into mobile menu
  react/src/components/HeaderMenu/HeaderMenuMobile.tsx
Due: eslint, prettier

fix test selector
  react/src/components/HeaderMenu/HeaderMenuMobile.tsx
  react/src/components/QrReaderOverlay/QrReaderOverlay.test.tsx
Due: eslint, prettier

put QR button on top, fix padding, and replace QR icon
  react/src/components/HeaderMenu/HeaderMenuMobile.tsx
Due: eslint, prettier

Fix Vscode Settings
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Due: none

update dev seed
  back/init.sql
Due: none

Update peewee models
  back/boxtribute_server/models/definitions/box.py
  back/boxtribute_server/models/definitions/tags_relation.py
Due: black, flake8

Fix missing insert-statement
  back/init.sql
Due: none

Fix integration tests
  back/test/integration_tests/test_operations.py
Due: black, flake8

Temporarily disable failing test
  back/test/integration_tests/test_operations.py
Due: black, flake8

Replace ShipmentDetail.deleted* occurences
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/boxtribute_server/business_logic/warehouse/box/fields.py
  back/boxtribute_server/graph_ql/types.graphql
  back/boxtribute_server/models/definitions/shipment_detail.py
  back/test/data/shipment_detail.py
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

Add new ShipmentDetail fields
  back/boxtribute_server/models/definitions/shipment_detail.py
Due: black, flake8

Adjust usage of new fields to fix tests
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/boxtribute_server/business_logic/warehouse/box/fields.py
  back/boxtribute_server/graph_ql/types.graphql
  back/test/endpoint_tests/test_shipment.py
  back/test/integration_tests/test_operations.py
Due: black, flake8

Replace deletedOn/By occurrences in FE code
  react/src/mocks/shipments.ts
  react/src/queries/fragments.ts
  react/src/types/generated/graphql.ts
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
  react/src/views/Transfers/ShipmentsOverview/ShipmentsOverviewView.tsx
Due: eslint, prettier

Add ShipmentDetail.source/targetSize fields
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/boxtribute_server/business_logic/box_transfer/shipment/fields.py
  back/boxtribute_server/graph_ql/types.graphql
  back/boxtribute_server/models/definitions/shipment_detail.py
  back/test/data/shipment_detail.py
  back/test/endpoint_tests/test_shipment.py
  react/src/types/generated/graphql.ts
Due: black, flake8, eslint, prettier

Add targetSizeId to input of updateShipmentWhenReceiving
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/boxtribute_server/graph_ql/inputs.graphql
  back/test/endpoint_tests/test_shipment.py
  react/src/types/generated/graphql.ts
Due: black, flake8, eslint, prettier

add transfer tab in the box view
  react/src/hooks/useAssignBoxesToShipment.ts
  react/src/queries/fragments.ts
  react/src/types/generated/graphql.ts
  react/src/types/graphql-local-only.ts
  react/src/views/Box/BoxView.tsx
  react/src/views/Box/components/AssignBoxToShipment.tsx
  react/src/views/Box/components/BoxCard.tsx
  react/src/views/Box/components/BoxDetails.tsx
  react/src/views/Box/components/BoxDistributionEvent.tsx
  react/src/views/Box/components/BoxMoveLocation.tsx
  react/src/views/Box/components/BoxTabs.tsx
Due: eslint, prettier

make changes to assign, reassign and remove box
  react/src/views/Box/components/AssignBoxToShipment.tsx
Due: eslint, prettier

fix assign box hook
  react/src/hooks/useAssignBoxesToShipment.ts
Due: eslint, prettier

WIP: add toast mock function to the test
  react/src/views/Box/BoxView.test.tsx
Due: eslint, prettier

refactor box with label indentifier query & fix typo
  react/src/hooks/useAssignBoxesToShipment.ts
  react/src/types/generated/graphql.ts
  react/src/views/Box/BoxView.test.tsx
  react/src/views/Box/BoxView.tsx
  react/src/views/Box/components/AssignBoxToShipment.tsx
  react/src/views/Box/components/BoxCard.tsx
  react/src/views/Box/components/BoxTabs.tsx
  react/src/views/BoxEdit/BoxEditView.test.tsx
  react/src/views/BoxEdit/BoxEditView.tsx
  react/src/views/Distributions/DistroEventView/components/State2Packing/DistroEventDetailsForPackingStateContainer.tsx
Due: eslint, prettier

remove consol logs
  react/src/hooks/useAssignBoxesToShipment.ts
  react/src/views/Distributions/CreateDirectDistributionEventView/components/CreateDirectDistributionEvent.tsx
  react/src/views/Distributions/DistributionReturnTrackings/DistrosReturnTrackingGroupView/DistrosReturnTrackingGroupView.tsx
  react/src/views/Distributions/DistrosDashboardView/DistrosDashboardView.tsx
Due: eslint, prettier

remove extra property from graphql query
  react/src/types/generated/graphql.ts
  react/src/views/Box/BoxView.tsx
Due: eslint, prettier

put box label identifier and shipment query to global file
  react/src/queries/queries.ts
  react/src/views/Box/BoxView.test.tsx
  react/src/views/Box/BoxView.tsx
  react/src/views/BoxEdit/BoxEditView.test.tsx
  react/src/views/BoxEdit/BoxEditView.tsx
  react/src/views/Distributions/DistroEventView/components/State2Packing/DistroEventDetailsForPackingStateContainer.tsx
Due: eslint, prettier

fix alignment of box location and shipment info
  react/src/views/Box/components/BoxTabs.tsx
Due: eslint, prettier

fix alignment transfer tab when no shipments avaialble
  react/src/views/Box/components/BoxTabs.tsx
Due: eslint, prettier

refactor boxview and use Skeletons for loading
  react/src/components/Skeletons.tsx
  react/src/views/Box/BoxView.tsx
Due: eslint, prettier

update graphql types
  react/src/types/generated/graphql.ts
Due: eslint, prettier

add shipment id into the shipments options
  react/src/views/Box/BoxView.tsx
Due: eslint, prettier
