Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: black
        name: Format Python files
        entry: black
        types: [python]
        language: system
        require_serial: true
      - id: flake8
        name: Lint Python files
        entry: flake8
        types: [python]
        language: system
        require_serial: true
      - id: mypy
        name: Run Python type checks
        entry: mypy
        types_or: [python, pyi]
        exclude: back/test
        language: system
        args: ["--scripts-are-modules"]
        require_serial: true
      - id: isort
        name: Sort Python imports
        entry: isort
        types_or: [cython, pyi, python]
        language: system
        require_serial: true
        args: ['--filter-files']
      - id: eslint
        name: Lint Typescript files
        entry: ./invoke_yarn lint
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: prettier
        name: Format Typescript files
        entry: ./invoke_yarn format
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: generate-graphql-ts-types
        name: Generate GraphQL Typescript definitions
        entry: ./invoke_yarn graphql-types
        types: [graphql]
        language: script
        require_serial: true

show an alert if the initial data not fetched - fix
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
Due: eslint, prettier

update test case 4.1.4 text message
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
Due: eslint, prettier

WIP: add test case 4.1.2.1 and 4.1.2.2
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
Due: eslint, prettier

remove comments
  react/src/components/Form/DateField.tsx
Due: eslint, prettier

custom error message for transfer type validation
  react/src/views/Transfers/CreateTransferAgreement/components/CreateTransferAgreement.tsx
Due: eslint, prettier

refactor & clean up - remove dupplicate error handling - refactor the way min date is set for valid until - remove comments - add validation rule for valid until date
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
  react/src/views/Transfers/CreateTransferAgreement/components/CreateTransferAgreement.tsx
Due: eslint, prettier

WIP: update test case 4.1.2.3 and add test case 4.1.3.1
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
Due: eslint, prettier

add a fixed date for the maximum valid date and valid until date
  react/src/views/Transfers/CreateTransferAgreement/components/CreateTransferAgreement.tsx
Due: eslint, prettier

WIP: add test cases 4.1.3
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
Due: eslint, prettier

add test cases 4.1.2.4 and 4.1.2.5
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
Due: eslint, prettier

Introduce SendingTo and ReceivingFrom agreement types
  back/boxtribute_server/enums.py
  back/boxtribute_server/graph_ql/types.graphql
  back/test/data/transfer_agreement.py
  back/test/endpoint_tests/test_transfer_agreement.py
  react/src/types/generated/graphql.ts
Due: black, flake8, eslint, prettier

Avoid that user who created agreement can accept it
  back/boxtribute_server/business_logic/box_transfer/agreement/mutations.py
Due: black, flake8

change partner bases placeholder text
  react/src/views/Transfers/CreateTransferAgreement/components/CreateTransferAgreement.tsx
Due: eslint, prettier

Verify that user who created agreement cannot accept it
  back/test/data/__init__.py
  back/test/data/transfer_agreement.py
  back/test/endpoint_tests/test_transfer_agreement.py
Due: black, flake8

apply changes for transfer agreement type enum
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
Due: eslint, prettier

apply changes for transfer agreement type enum
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
Due: eslint, prettier

change bidirectional transfer label
  react/src/views/Transfers/CreateTransferAgreement/components/CreateTransferAgreement.tsx
Due: eslint, prettier

change bidirectional transfer label in test 4.1.3.3
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
Due: eslint, prettier

WIP: first iteration of the new shipment creation - add a new shipping routes - create a new shipment page/view - adds Zod validation rule to the shipment org and base - create a test case for 4.3.1
  react/src/App.tsx
  react/src/mocks/transferAgreements.ts
  react/src/types/generated/graphql.ts
  react/src/views/Transfers/CreateTransferShipment/CreateTransferShipmentView.test.tsx
  react/src/views/Transfers/CreateTransferShipment/CreateTransferShipmentView.tsx
  react/src/views/Transfers/CreateTransferShipment/components/CreateTransferShipment.tsx
Due: eslint, prettier

fix build issues
  react/src/components/HeaderMenu/HeaderMenuContainer.tsx
Due: eslint, prettier

Add test 3.4.2.2
  react/src/components/QrReaderOverlay/OrReaderOverlay.test.tsx
  react/src/mocks/components.tsx
  react/src/mocks/locations.ts
Due: eslint, prettier

WIP: change fontsize and style
  react/src/views/Transfers/CreateTransferShipment/components/CreateTransferShipment.tsx
Due: eslint, prettier

apply change for folder structure
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
Due: eslint, prettier

Add beta-level 2 for creating agreements
  back/boxtribute_server/authz.py
Due: black, flake8

fix typo in file name
  react/src/mocks/organisations.ts
  react/src/tests/test-utils.tsx
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
Due: eslint, prettier

Enhance create-box error toast messages
  react/src/views/BoxCreate/BoxCreateView.tsx
Due: eslint, prettier

Make authorization errors more distinct
  back/boxtribute_server/authz.py
  back/boxtribute_server/exceptions.py
  back/test/unit_tests/test_authz.py
Due: black, flake8

Make create-box error handling more distinct
  back/boxtribute_server/business_logic/warehouse/box/crud.py
  back/boxtribute_server/exceptions.py
  back/test/endpoint_tests/test_box.py
Due: black, flake8

Add user info for debugging errors during local development
  back/boxtribute_server/exceptions.py
Due: black, flake8

fix test case 4.1.1.1
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
Due: eslint, prettier

fix typo in the variable name
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
Due: eslint, prettier

filter bases where the user is not authorized
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
Due: eslint, prettier

fix typo and file path
  react/src/views/Transfers/CreateTransferShipment/CreateTransferShipmentView.test.tsx
  react/src/views/Transfers/CreateTransferShipment/CreateTransferShipmentView.tsx
Due: eslint, prettier

fix db seed for the first three boxes
  back/init.sql
Due: none

test 3.4.2.3
  react/src/components/QrReaderOverlay/OrReaderOverlay.test.tsx
  react/src/tests/test-utils.tsx
Due: eslint, prettier

Make Error Message for not Authorized Box Scan readible
  react/src/components/HeaderMenu/HeaderMenuContainer.tsx
Due: eslint, prettier

Close QrReader Overlay only on successful scan
  react/src/components/QrReaderOverlay/QrReaderOverlayContainer.tsx
Due: eslint, prettier

test 3.4.2.5
  react/src/components/QrReaderOverlay/OrReaderOverlay.test.tsx
  react/src/mocks/components.tsx
Due: eslint, prettier

Cahnge Error Message to definition in Test Plan
  react/src/components/HeaderMenu/HeaderMenuContainer.tsx
  react/src/components/QrReaderOverlay/OrReaderOverlay.test.tsx
Due: eslint, prettier

Use correct index names for unique columns of Box model
  back/boxtribute_server/business_logic/warehouse/box/crud.py
  back/boxtribute_server/models/definitions/box.py
Due: black, flake8
