Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

black:
  name: Format Python files
  entry: black
  language: system
  require_serial: true

flake8:
  name: Lint Python files
  entry: flake8
  language: system
  require_serial: true

eslint:
  name: Lint Typescript files
  entry: ./invoke_yarn lint
  language: script
  require_serial: true

prettier:
  name: Format Typescript files
  entry: ./invoke_yarn format
  language: script
  require_serial: true

mocking apollo reactive variable
  react/src/components/BoxReconciliationOverlay/BoxReconciliationOverlay.test.tsx
Due: eslint, prettier

remove unused mocked component
  react/src/components/BoxReconciliationOverlay/BoxReconciliationOverlay.test.tsx
  react/src/mocks/components.tsx
Due: eslint, prettier

rename the file
  react/src/components/BoxReconciliationOverlay/BoxReconciliationOverlay.tsx
  react/src/components/BoxReconciliationOverlay/components/BoxReconciliationAccordion.tsx
  react/src/components/BoxReconciliationOverlay/components/BoxReconciliationView.tsx
  react/src/components/BoxReconciliationOverlay/components/MatchProductsForm.tsx
  react/src/components/BoxReconciliationOverlay/components/ReceiveLocationForm.tsx
  react/src/mocks/locations.ts
  react/src/mocks/shipments.ts
Due: eslint, prettier

fix test 4.7.2
  react/src/components/BoxReconciliationOverlay/BoxReconciliationOverlay.test.tsx
Due: eslint, prettier

adding cache to render in test 4.7.2
  react/src/components/BoxReconciliationOverlay/BoxReconciliationOverlay.test.tsx
Due: eslint, prettier

rename the container to view
  react/src/components/BoxReconciliationOverlay/BoxReconciliationOverlay.tsx
  react/src/components/BoxReconciliationOverlay/components/BoxReconciliationView.tsx
Due: eslint, prettier

fix mock data of the tests
  react/src/components/BoxReconciliationOverlay/BoxReconciliationOverlay.test.tsx
Due: eslint, prettier

add seq to box field fragment
  react/src/queries/fragments.ts
Due: eslint, prettier

fix test case 4.7.1
  react/src/components/BoxReconciliationOverlay/BoxReconciliationOverlay.test.tsx
Due: eslint, prettier

remove seq from location
  react/src/queries/fragments.ts
Due: eslint, prettier

make changes in history style and ui
  react/src/views/Transfers/ShipmentView/components/ShipmentHistory.tsx
  react/src/views/Transfers/ShipmentView/components/TimelineEntry.tsx
Due: eslint, prettier

Update adr_graphql-ariadne-apollo.md
  docs/adr/adr_graphql-ariadne-apollo.md
Due: none

Update data model and test data
  back/boxtribute_server/models/definitions/shipment_detail.py
  back/test/data/shipment_detail.py
Due: black, flake8

Add source/targetQuantity to GraphQL API and update business logic
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/boxtribute_server/graph_ql/inputs.graphql
  back/boxtribute_server/graph_ql/types.graphql
  back/test/endpoint_tests/test_shipment.py
  react/src/types/generated/graphql.ts
Due: black, flake8, eslint, prettier

ShipmentView: Implement History Timeline (First Iteration) (#779)
  react/src/utils/helpers.ts
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentHistory.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
  react/src/views/Transfers/ShipmentView/components/TimelineEntry.tsx
Due: eslint, prettier

Update DB dev seed
  back/init.sql
Due: none

Add batch-loading for Base elements
  back/boxtribute_server/business_logic/box_transfer/shipment/fields.py
  back/boxtribute_server/business_logic/warehouse/location/fields.py
  back/boxtribute_server/graph_ql/execution.py
  back/boxtribute_server/graph_ql/loaders.py
Due: black, flake8

Add custom DataLoader base class
  back/boxtribute_server/graph_ql/loaders.py
Due: black, flake8

Use batch-loading for shipment detail source/target product
  back/boxtribute_server/business_logic/box_transfer/shipment/fields.py
  back/boxtribute_server/business_logic/warehouse/box/fields.py
  back/boxtribute_server/graph_ql/loaders.py
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

Add batch-loading for ShipmentDetail.box field
  back/boxtribute_server/business_logic/box_transfer/shipment/fields.py
  back/boxtribute_server/graph_ql/execution.py
  back/boxtribute_server/graph_ql/loaders.py
Due: black, flake8

Add batch-loading for User fields
  back/boxtribute_server/business_logic/box_transfer/shipment/fields.py
  back/boxtribute_server/graph_ql/execution.py
  back/boxtribute_server/graph_ql/loaders.py
Due: black, flake8

Add batch-loading for ShipmentDetail.shipment
  back/boxtribute_server/business_logic/box_transfer/shipment/fields.py
  back/boxtribute_server/graph_ql/execution.py
  back/boxtribute_server/graph_ql/loaders.py
Due: black, flake8

Add batch-loading for Box.shipmentDetail field
  back/boxtribute_server/business_logic/warehouse/box/fields.py
  back/boxtribute_server/graph_ql/execution.py
  back/boxtribute_server/graph_ql/loaders.py
Due: black, flake8

Set profiles_sample_rate for Sentry SDK profiling
  back/boxtribute_server/app.py
Due: black, flake8

ShipmentView UI Fixes (#764)
  react/src/components/Icon/Transfer/BoxIcon.tsx
  react/src/utils/helpers.ts
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentColoredStatus.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentContent.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentHistory.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
  react/src/views/Transfers/ShipmentView/components/TimelineEntry.tsx
Due: eslint, prettier

Set profiles_sample_rate for Sentry SDK profiling (#816)
  back/boxtribute_server/app.py
Due: black, flake8

Add SENTRY_PROFILES_SAMPLE_RATE to .env file in CircleCI
  .circleci/config.yml
Due: none

add failure tests to QR multiScan Tab
  react/.eslintrc
  react/src/types/generated/graphql.ts
  react/src/views/QrReader/QrReader.test.tsx
Due: eslint, prettier

add failed ShipmentsQuery tests
  react/src/components/QrReader/components/QrReaderMultiBox.tsx
  react/src/components/Skeletons.tsx
  react/src/tests/helpers.ts
  react/src/tests/test-utils.tsx
  react/src/views/QrReader/QrReaderMultiBox.test.tsx
  react/src/views/QrReader/QrReaderMultiBoxAssignToShipment.test.tsx
Due: eslint, prettier

fix caching bug after assignToShipment
  react/src/hooks/useAssignBoxesToShipment.ts
Due: eslint, prettier

Update typing packages
  back/requirements-dev.txt
Due: none

Update typing packages (#817)
  back/requirements-dev.txt
Due: none

add submission tests
  react/src/views/QrReader/QrReaderMultiBoxAssignToShipment.test.tsx
Due: eslint, prettier

extend timeout of QR tests
  react/src/components/QrReaderOverlay/QrReaderOverlay.test.tsx
Due: eslint, prettier

Update LICENSE.md
  LICENSE.md
Due: none

Update LICENSE.md (#828)
  LICENSE.md
Due: none

fix style timeline
  react/src/views/Transfers/ShipmentView/components/ShipmentHistory.tsx
  react/src/views/Transfers/ShipmentView/components/TimelineEntry.tsx
Due: eslint, prettier

fix alignment
  react/src/views/Transfers/ShipmentView/components/ShipmentHistory.tsx
  react/src/views/Transfers/ShipmentView/components/TimelineEntry.tsx
Due: eslint, prettier

fix boxview tests - add cache
  react/src/views/Box/BoxView.test.tsx
Due: eslint, prettier

add support for partial response to boxview
  react/src/views/Box/BoxView.tsx
Due: eslint, prettier

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  eslint: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  prettier: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
