Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: black
        name: Format Python files
        entry: black
        types: [python]
        language: system
        require_serial: true
      - id: flake8
        name: Lint Python files
        entry: flake8
        types: [python]
        language: system
        require_serial: true
      - id: mypy
        name: Run Python type checks
        entry: mypy
        types_or: [python, pyi]
        exclude: back/test
        language: system
        args: ["--scripts-are-modules"]
        require_serial: true
      - id: isort
        name: Sort Python imports
        entry: isort
        types_or: [cython, pyi, python]
        language: system
        require_serial: true
        args: ['--filter-files']
      - id: eslint
        name: Lint Typescript files
        entry: ./invoke_yarn lint
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: prettier
        name: Format Typescript files
        entry: ./invoke_yarn format
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: generate-graphql-ts-types
        name: Generate GraphQL Typescript definitions
        entry: ./invoke_yarn graphql-types
        types: [graphql]
        language: script
        require_serial: true

make helper function for preparing box history entry
  react/src/utils/helpers.ts
Due: eslint, prettier

add history overlay in the box view
  react/src/views/Box/BoxView.test.tsx
  react/src/views/Box/BoxView.tsx
  react/src/views/Box/components/BoxCard.tsx
  react/src/views/Box/components/BoxDetails.tsx
  react/src/views/Box/components/HistoryEntries.tsx
Due: eslint, prettier

add test case 3.1.12
  react/src/views/Box/BoxViewHistoryOverlay.test.tsx
Due: eslint, prettier

clean up
  react/src/components/Timeline/TimelineContainer.tsx
Due: eslint, prettier

remove minus and plus from the qr reader
  react/src/components/QrReader/components/QrReader.tsx
Due: eslint, prettier

clean up
  react/src/components/QrReader/components/QrReader.tsx
Due: eslint, prettier

QrOverlay: remove minus and plus buttons (#1039)
  react/src/components/QrReader/components/QrReader.tsx
Due: eslint, prettier

fix time format in timeline
  react/src/components/Timeline/TimelineContainer.tsx
  react/src/components/Timeline/components/TimelineEntry.tsx
Due: eslint, prettier

refactor shipment to use timeline component
  react/src/views/Transfers/ShipmentView/components/ShipmentHistory.tsx
  react/src/views/Transfers/ShipmentView/components/TimelineBullet.tsx
  react/src/views/Transfers/ShipmentView/components/TimelineEntry.tsx
Due: eslint, prettier

fix sending undefined comment value in update box mutation
  react/src/views/BoxEdit/BoxEditView.tsx
Due: eslint, prettier

fix sorting order on completed shipment
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
Due: eslint, prettier

using lostOn instead of box state to count total lost boxes
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
Due: eslint, prettier

fix successful shipment message text
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

refactor shipment history to use timeline component
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentHistory.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
Due: eslint, prettier

convert toast to Form Message
  react/src/views/BoxEdit/BoxEditView.tsx
  react/src/views/BoxEdit/components/BoxEdit.tsx
Due: eslint, prettier

fix color formatting for NotDelivered Box State
  react/src/views/Box/components/BoxCard.tsx
Due: eslint, prettier

bar chart with nivo, add dashboard
  statviz/package.json
  statviz/src/App.tsx
  statviz/src/components/custom-graphs/BarChartCenterAxis.tsx
  statviz/src/components/custom-graphs/BarChartVertical.tsx
  statviz/src/components/custom-graphs/PieChartOld.tsx
  statviz/src/components/nivo-graphs/BarChart.tsx
  statviz/src/utils/table.ts
  statviz/src/utils/theme.ts
  statviz/src/views/Statistics/BoxView.tsx
  statviz/src/views/Statistics/Dashboard.tsx
  statviz/src/views/Statistics/ProductRankView.tsx
  statviz/src/views/Statistics/components/CreatedBoxesBarChart.tsx
  statviz/src/views/Statistics/components/DemographicChart.tsx
  statviz/src/views/Statistics/components/TopProductsPieChart.tsx
  statviz/yarn.lock
Due: none

Nivo Pie Chart
  statviz/src/App.tsx
  statviz/src/components/nivo-graphs/PieChart.tsx
  statviz/src/utils/table.ts
  statviz/src/views/Statistics/Dashboard.tsx
  statviz/src/views/Statistics/ProductRankView.tsx
  statviz/src/views/Statistics/TopProductsView.tsx
  statviz/src/views/Statistics/components/CreatedBoxesBarChart.tsx
  statviz/src/views/Statistics/components/DemographicChart.tsx
  statviz/src/views/Statistics/components/TopProductsPieChart.tsx
Due: none

test sankey
  statviz/src/components/nivo-graphs/Sankey.tsx
  statviz/src/types/generated/gql.ts
  statviz/src/types/generated/graphql.ts
  statviz/src/views/Statistics/Dashboard.tsx
  statviz/src/views/Statistics/components/ProductFlowSankeyChart.tsx
  statviz/src/views/Statistics/components/TopProductsPieChart.tsx
Due: none

remove depreciated package & update sentry
  react/package.json
  react/src/index.tsx
  react/yarn.lock
Due: eslint, prettier

refactore CreatedBoxesChart and TopProductChart to use const and memorize data
  statviz/src/components/nivo-graphs/BarChart.tsx
  statviz/src/utils/table.ts
  statviz/src/views/Statistics/components/CreatedBoxesBarChart.tsx
  statviz/src/views/Statistics/components/TopProductsPieChart.tsx
Due: none

Use "target" concept in movedBoxes query
  back/boxtribute_server/business_logic/statistics/crud.py
  back/boxtribute_server/enums.py
  back/boxtribute_server/graph_ql/definitions/public_api.graphql
  back/boxtribute_server/graph_ql/enums.py
  back/boxtribute_server/graph_ql/schema.py
  back/test/endpoint_tests/test_statistics.py
  statviz/src/types/generated/graphql.ts
Due: black, flake8

ShipmentView: Sort for Completed Shipments Should Show Products Without Missing Boxes First (#1042)
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
Due: eslint, prettier

clean up
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
Due: eslint, prettier

Clarify comment
  back/boxtribute_server/business_logic/statistics/crud.py
Due: black, flake8

Make test more strict
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8

Omit beneficiaries without birth date from counting
  back/boxtribute_server/business_logic/statistics/crud.py
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8

Use age precision of 1 year
  back/boxtribute_server/business_logic/statistics/crud.py
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8

Handle unset beneficiary creation date
  back/boxtribute_server/business_logic/statistics/crud.py
Due: black, flake8

Extend QR code test data
  back/test/data/__init__.py
  back/test/data/box.py
  back/test/data/qr_code.py
Due: black, flake8

Enable accessing InTransit/Receiving/NotDelivered box through QR reader
  back/boxtribute_server/authz.py
  back/boxtribute_server/business_logic/warehouse/box/queries.py
  back/boxtribute_server/business_logic/warehouse/qr_code/fields.py
  back/test/endpoint_tests/test_box.py
Due: black, flake8

Add authorization for moveNotDeliveredBoxesInStock mutation
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/boxtribute_server/business_logic/box_transfer/shipment/mutations.py
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

Update docstrings
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
Due: black, flake8

Log box state changes in history table
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

Combine DB operations
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
Due: black, flake8

Add Shipment.labelIdentifier field
  back/boxtribute_server/business_logic/box_transfer/shipment/fields.py
  back/boxtribute_server/graph_ql/definitions/protected/types.graphql
  back/test/endpoint_tests/test_shipment.py
  react/src/types/generated/graphql.ts
Due: black, flake8, eslint, prettier

Emit warning to Sentry when multi-base agreement created
  back/boxtribute_server/business_logic/box_transfer/agreement/crud.py
Due: black, flake8

Use only location name as target ID for outgoing location
  back/boxtribute_server/business_logic/statistics/crud.py
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8

Avoid returning duplicate boxes when filtering for tag IDs
  back/boxtribute_server/graph_ql/filtering.py
  back/test/data/tags_relation.py
  back/test/endpoint_tests/test_box.py
  back/test/endpoint_tests/test_tag.py
Due: black, flake8

wip dashbord, filters and graph ui improvements
  statviz/src/App.tsx
  statviz/src/components/Form/DateField.tsx
  statviz/src/components/nivo-graphs/PieChart.tsx
  statviz/src/types/generated/gql.ts
  statviz/src/types/generated/graphql.ts
  statviz/src/utils/dimensions.ts
  statviz/src/utils/hooks/useCreatedBoxes.ts
  statviz/src/utils/table.ts
  statviz/src/views/Statistics/BoxView.tsx
  statviz/src/views/Statistics/Dashboard.tsx
  statviz/src/views/Statistics/TopProductsView.tsx
  statviz/src/views/Statistics/components/CreatedBoxes.tsx
  statviz/src/views/Statistics/components/DemographicChart.tsx
  statviz/src/views/Statistics/components/TopProducts.tsx
  statviz/src/views/Statistics/components/filter/FilterCreatedOn.tsx
  statviz/src/views/Statistics/components/filter/TimeRangeSelect.tsx
Due: none
