Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: black
        name: Format Python files
        entry: black
        types: [python]
        language: system
        require_serial: true
      - id: flake8
        name: Lint Python files
        entry: flake8
        types: [python]
        language: system
        require_serial: true
      - id: mypy
        name: Run Python type checks
        entry: mypy
        types_or: [python, pyi]
        exclude: back/test
        language: system
        args: ["--scripts-are-modules"]
        require_serial: true
      - id: isort
        name: Sort Python imports
        entry: isort
        types_or: [cython, pyi, python]
        language: system
        require_serial: true
        args: ['--filter-files']
      - id: eslint
        name: Lint Typescript files
        entry: ./invoke_yarn lint
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: prettier
        name: Format Typescript files
        entry: ./invoke_yarn format
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: generate-graphql-ts-types
        name: Generate GraphQL Typescript definitions
        entry: ./invoke_yarn graphql-types
        types: [graphql]
        language: script
        require_serial: true

WIP: fixing the tests - skip fews for now
  react/src/views/Box/BoxView.test.tsx
  react/src/views/Box/BoxView.tsx
  react/src/views/Box/components/BoxCard.tsx
  react/src/views/Box/components/BoxTabs.tsx
Due: eslint, prettier

fix rendering the data after mutation due to refetching
  react/src/types/generated/graphql.ts
  react/src/views/Box/BoxView.tsx
Due: eslint, prettier

Split the loading state of mutations from the boxData
  react/src/views/Box/BoxView.tsx
  react/src/views/Box/components/BoxCard.tsx
Due: eslint, prettier

fix mock data to include shipmentDetail
  react/src/mocks/boxes.ts
Due: eslint, prettier

add loading state into move location component
  react/src/views/Box/components/BoxMoveLocation.tsx
  react/src/views/Box/components/BoxTabs.tsx
Due: eslint, prettier

WIP: fix some tests
  react/src/views/Box/BoxView.test.tsx
Due: eslint, prettier

refactor mutation method with useCallback and use refetch
  react/src/views/Box/BoxView.tsx
  react/src/views/Box/components/BoxCard.tsx
Due: eslint, prettier

add filter for checking the box state on the hook
  react/src/hooks/useAssignBoxesToShipment.ts
Due: eslint, prettier

refactor assignment, reassignemnt and removing the box from the shipment
  react/src/views/Box/BoxView.tsx
  react/src/views/Box/components/AssignBoxToShipment.tsx
  react/src/views/Box/components/BoxDetails.tsx
  react/src/views/Box/components/BoxTabs.tsx
Due: eslint, prettier

refactor add/remove items overlay
  react/src/views/Box/BoxView.tsx
  react/src/views/Box/components/AddItemsToBoxOverlay.tsx
  react/src/views/Box/components/TakeItemsFromBoxOverlay.tsx
Due: eslint, prettier

refactor and removed refetching on reassignment of shipment
  react/src/hooks/useAssignBoxesToShipment.ts
  react/src/views/Box/BoxView.tsx
Due: eslint, prettier

Make error detection for re-used QR code less strict
  back/boxtribute_server/business_logic/warehouse/box/crud.py
Due: black, flake8

improve error handling & clean up
  react/src/views/Box/BoxView.tsx
Due: eslint, prettier

fix tests & remove unnecessary refetch
  react/src/views/Box/BoxView.test.tsx
  react/src/views/Box/BoxView.tsx
  react/src/views/Box/components/BoxTabs.tsx
Due: eslint, prettier

minor improvement in the skeleton & clean up
  react/src/components/Skeletons.tsx
  react/src/views/Box/BoxView.test.tsx
  react/src/views/Box/components/BoxCard.tsx
  react/src/views/Box/components/BoxTabs.tsx
Due: eslint, prettier

Replace ShipmentDetail.deleted* occurences
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/boxtribute_server/business_logic/warehouse/box/fields.py
  back/boxtribute_server/graph_ql/types.graphql
  back/boxtribute_server/models/definitions/shipment_detail.py
  back/test/data/shipment_detail.py
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

Add new ShipmentDetail fields
  back/boxtribute_server/models/definitions/shipment_detail.py
Due: black, flake8

Adjust usage of new fields to fix tests
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/boxtribute_server/business_logic/warehouse/box/fields.py
  back/boxtribute_server/graph_ql/types.graphql
  back/test/endpoint_tests/test_shipment.py
  back/test/integration_tests/test_operations.py
Due: black, flake8

Replace deletedOn/By occurrences in FE code
  react/src/mocks/shipments.ts
  react/src/queries/fragments.ts
  react/src/types/generated/graphql.ts
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingCard.tsx
  react/src/views/Transfers/ShipmentsOverview/ShipmentsOverviewView.tsx
Due: eslint, prettier

Fix BoxState name
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingCard.tsx
Due: eslint, prettier

Add ShipmentDetail.source/targetSize fields
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/boxtribute_server/business_logic/box_transfer/shipment/fields.py
  back/boxtribute_server/graph_ql/types.graphql
  back/boxtribute_server/models/definitions/shipment_detail.py
  back/test/data/shipment_detail.py
  back/test/endpoint_tests/test_shipment.py
  react/src/types/generated/graphql.ts
Due: black, flake8, eslint, prettier

Add targetSizeId to input of updateShipmentWhenReceiving
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/boxtribute_server/graph_ql/inputs.graphql
  back/test/endpoint_tests/test_shipment.py
  react/src/types/generated/graphql.ts
Due: black, flake8, eslint, prettier

add test case 4.6.1.3 for shipments
  react/src/views/Box/BoxView.test.tsx
Due: eslint, prettier

change page title to Receiving Shipment
  react/src/views/Transfers/ShipmentView/ShipmentView.test.tsx
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

align product header to actual cells
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingTable.tsx
Due: eslint, prettier

fix style of product name and count font size
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingTable.tsx
Due: eslint, prettier

fix test case 4.5.3
  react/src/views/Transfers/ShipmentView/ShipmentView.test.tsx
Due: eslint, prettier

incorporate recent BE changes into shipment details
  react/src/queries/fragments.ts
  react/src/types/generated/graphql.ts
  react/src/views/Transfers/ShipmentView/ShipmentView.test.tsx
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentContent.tsx
Due: eslint, prettier

add test case 4.5.5
  react/src/mocks/shipments.ts
  react/src/views/Transfers/ShipmentView/ShipmentView.test.tsx
Due: eslint, prettier

Mark shipment as Lost if all boxes marked as Lost
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

disable all edit and move actions when box on the shipment
  react/src/views/Box/BoxView.test.tsx
  react/src/views/Box/BoxView.tsx
  react/src/views/Box/components/BoxCard.tsx
  react/src/views/Box/components/BoxDetails.tsx
  react/src/views/Box/components/BoxMoveLocation.tsx
  react/src/views/Box/components/BoxTabs.tsx
Due: eslint, prettier

Avoid overhead of peewee selecting tag instances
  back/boxtribute_server/graph_ql/loaders.py
Due: black, flake8

create box icon
  react/src/components/Icon/Transfer/BoxIcon.tsx
Due: eslint, prettier

fix the number of boxes initially sent and color of lost boxes
  react/src/views/Transfers/ShipmentView/components/ShipmentContent.tsx
Due: eslint, prettier

fix org and base text size and font weight to semi-bolded
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingCard.tsx
Due: eslint, prettier

closing the menu when qr overlay menu clicked
  react/src/components/HeaderMenu/HeaderMenuMobile.tsx
Due: eslint, prettier

fix box icon with the filled icon
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingCard.tsx
Due: eslint, prettier

fic total box top margin
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
Due: eslint, prettier

fix shipment title font size and font weight
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentColoredStatus.tsx
Due: eslint, prettier

change color of lost product label to red
  react/src/views/Transfers/ShipmentView/components/ShipmentContent.tsx
Due: eslint, prettier
