Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

black:
  name: Format Python files
  entry: black
  language: system
  require_serial: true

flake8:
  name: Lint Python files
  entry: flake8
  language: system
  require_serial: true

eslint:
  name: Lint Typescript files
  entry: ./invoke_yarn lint
  language: script
  require_serial: true

prettier:
  name: Format Typescript files
  entry: ./invoke_yarn format
  language: script
  require_serial: true

move ALL_SHIPMENTS query
  react/src/queries/queries.ts
  react/src/views/Transfers/ShipmentsOverview/ShipmentsOverview.test.tsx
  react/src/views/Transfers/ShipmentsOverview/ShipmentsOverviewView.tsx
Due: eslint, prettier

Single out GraphQL execution code
  back/boxtribute_server/graph_ql/execution.py
  back/boxtribute_server/routes.py
Due: black, flake8

Fix C4 diagram link
  back/README.md
Due: none

fix: upgrade spectaql from 2.0.4 to 2.0.5
  docs/graphql-api/package.json
Due: none

Remove deleted Box model fields
  back/boxtribute_server/models/definitions/box.py
Due: black, flake8

Remove deleted Box model fields (#719)
  back/boxtribute_server/models/definitions/box.py
Due: black, flake8

Add Shipment Input Field in QrReaderMultiBox
  react/src/components/QrReader/components/QrReaderMultiBox.tsx
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
Due: eslint, prettier

add shipment input field to QrReaderMultiBox
  react/src/components/Alerts.tsx
  react/src/components/QrReader/components/QrReaderMultiBox.tsx
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
  react/src/components/Skeletons.tsx
Due: eslint, prettier

add Action to remove non InStockBoxes from Scanned Boxes list
  react/src/components/QrReader/QrReaderContainer.tsx
  react/src/components/QrReader/components/QrReaderMultiBox.tsx
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
Due: eslint, prettier

format notInStockAlert
  react/src/components/Alerts.tsx
  react/src/components/QrReader/components/AlertTexts.tsx
  react/src/components/QrReader/components/QrReaderMultiBox.tsx
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
Due: eslint, prettier

add typing for scannedBoxes local-only query
  react/src/components/QrReader/QrReaderContainer.tsx
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
  react/src/queries/cache.ts
  react/src/types/graphql-local-only.ts
Due: eslint, prettier

WIP: add border color
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingTable.tsx
Due: eslint, prettier

create useScannedBoxesActions hook
  react/src/components/QrReader/QrReaderContainer.tsx
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
  react/src/hooks/useScannedBoxesActions.ts
Due: eslint, prettier

create useAssignBoxesToShipment hook
  react/src/components/QrReader/components/QrReaderMultiBox.tsx
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
  react/src/hooks/useAssignBoxesToShipment.ts
  react/src/types/generated/graphql.ts
  react/src/types/graphql-local-only.ts
Due: eslint, prettier

finish assignBoxesToShipment multi Box action
  react/src/components/QrReader/QrReaderContainer.tsx
  react/src/components/QrReader/components/AlertTexts.tsx
  react/src/components/QrReader/components/QrReader.tsx
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
  react/src/hooks/useAssignBoxesToShipment.ts
  react/src/hooks/useScannedBoxesActions.ts
Due: eslint, prettier

fix build issue
  react/src/components/QrReader/components/QrReaderMultiBox.tsx
Due: eslint, prettier

Add Apollo Reactive Variable to control QrReaderOverlay
  react/src/components/HeaderMenu/HeaderMenuContainer.tsx
  react/src/components/QrReader/QrReaderContainer.tsx
  react/src/components/QrReader/components/QrReaderMultiBox.tsx
  react/src/queries/cache.ts
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
Due: eslint, prettier

Add updated BE components diagram
  docs/c4-backend-components.jpg
Due: none

Use pathlib.Path as input for load_schema_from_path
  back/boxtribute_server/graph_ql/definitions.py
Due: black, flake8

Fix rendering of GraphQL playground
  back/boxtribute_server/routes.py
  back/test/endpoint_tests/test_simple.py
Due: black, flake8

Add batch-loader for Box.location field
  back/boxtribute_server/business_logic/warehouse/box/fields.py
  back/boxtribute_server/graph_ql/execution.py
  back/boxtribute_server/graph_ql/loaders.py
Due: black, flake8

Remove BOX_WITHOUT_LOCATION_FIELDS_FRAGMENT
  react/src/queries/fragments.ts
  react/src/types/generated/graphql.ts
Due: eslint, prettier

update test fixtures
  react/src/mocks/products.ts
Due: eslint, prettier

fix issue while populating a base's products
  back/boxtribute_server/business_logic/core/base/fields.py
  back/boxtribute_server/setup_wizard.py
Due: black, flake8

add toast when box product is soft deleted
  react/src/hooks/useNotification.ts
  react/src/views/BoxEdit/components/BoxEdit.tsx
Due: eslint, prettier

refactor error message of QrReader
  react/src/components/QrReader/QrReaderContainer.tsx
  react/src/components/QrReaderOverlay/QrReaderOverlay.test.tsx
  react/src/hooks/useQrResolver.ts
  react/src/mocks/components.tsx
  react/src/tests/test-utils.tsx
Due: eslint, prettier

WIP: fix header alignment and change icon
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingContent.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingTable.tsx
Due: eslint, prettier

WIP: add new test case for receiving ui
  react/src/views/Transfers/ShipmentView/ShipmentView.test.tsx
Due: eslint, prettier

remove unused import
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingTable.tsx
Due: eslint, prettier

fix QrReaderOverlay tests
  react/src/mocks/components.tsx
  react/src/tests/test-utils.tsx
Due: eslint, prettier

add detail.deletedOn for ShipmentOverview
  react/src/views/Transfers/ShipmentsOverview/ShipmentsOverviewView.tsx
Due: eslint, prettier

add action button to receiving ui
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentActionButtons.tsx
Due: eslint, prettier

filter deleted box from shipment contents
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

fix minor bug that prevent remove box from shipment
  react/src/views/Transfers/ShipmentView/components/ShipmentTableCells.tsx
Due: eslint, prettier

Make ShipmentCard counter count only non-deleted shipment details
  react/src/views/Transfers/ShipmentView/ShipmentView.test.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
Due: eslint, prettier

add confirmation overlay for marking undeliver boxes
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentActionButtons.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentOverlay.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingCard.tsx
Due: eslint, prettier

fix showing total number of boxes
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingCard.tsx
Due: eslint, prettier

clean up & remove different ui for receiving ui
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
Due: eslint, prettier

resolve confirmation overlay close
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  eslint: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  prettier: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
