Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: black
        name: Format Python files
        entry: black
        types: [python]
        language: system
        require_serial: true
      - id: flake8
        name: Lint Python files
        entry: flake8
        types: [python]
        language: system
        require_serial: true
      - id: mypy
        name: Run Python type checks
        entry: mypy
        types_or: [python, pyi]
        exclude: back/test
        language: system
        args: ["--scripts-are-modules"]
        require_serial: true
      - id: isort
        name: Sort Python imports
        entry: isort
        types_or: [cython, pyi, python]
        language: system
        require_serial: true
        args: ['--filter-files']
      - id: eslint
        name: Lint Typescript files
        entry: ./invoke_yarn lint
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: prettier
        name: Format Typescript files
        entry: ./invoke_yarn format
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: generate-graphql-ts-types
        name: Generate GraphQL Typescript definitions
        entry: ./invoke_yarn graphql-types
        types: [graphql]
        language: script
        require_serial: true

Add mutuable shared state list of scannedBoxes
  react/src/components/QrReader/QrReaderContainer.tsx
  react/src/components/QrReader/components/QrReader.tsx
  react/src/components/QrReader/components/QrReaderMultiBox.tsx
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
  react/src/hooks/useQrResolver.ts
  react/src/providers/ApolloAuth0Provider.tsx
  react/src/queries/cache.ts
  react/src/queries/queries.ts
Due: eslint, prettier

Fix history entries sort - sort timeline based on the date in the desc order
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

WIP: disable remove icon base on shipment state
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
Due: eslint, prettier

WIP: add shipment mutations
  react/src/types/generated/graphql.ts
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

remove extra logic for small screen
  react/src/views/Transfers/ShipmentView/components/ShipmentContent.tsx
Due: eslint, prettier

add cancel shipment overlay
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentColoredStatus.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentOverlay.tsx
Due: eslint, prettier

fix loader-utils version
  react/yarn.lock
Due: none

Overlay stays open on MultiBox scan
  react/src/components/QrReader/QrReaderContainer.tsx
  react/src/components/QrReader/components/QrReaderMultiBox.tsx
Due: eslint, prettier

Add Boxes only once to list of scanned Boxes
  react/src/components/QrReader/QrReaderContainer.tsx
  react/src/hooks/useQrResolver.ts
  react/src/queries/queries.ts
Due: eslint, prettier

WIP: show action buttons base on role and state
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentContent.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentOverlay.tsx
Due: eslint, prettier

fix bug when switching between tabs in QrReader
  react/src/components/QrReader/QrReaderContainer.tsx
  react/src/components/QrReader/components/QrReader.tsx
  react/src/queries/queries.ts
Due: eslint, prettier

Process Qr-Code only every second
  react/src/components/QrReader/QrReaderContainer.tsx
Due: eslint, prettier

WIP: fix product name on the target organisation
  react/src/queries/fragments.ts
  react/src/types/generated/graphql.ts
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
Due: eslint, prettier

generate shipment history based on the shipment detail
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentHistory.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
Due: eslint, prettier

fix codegen issues
  react/codegen.yml
  react/src/components/QrReader/QrReaderContainer.tsx
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
  react/src/hooks/useQrResolver.ts
  react/src/queries/cache.ts
  react/src/queries/local-only.ts
  react/src/queries/queries.ts
Due: eslint, prettier

Enforce authz in ShipmentDetail.shipment field
  back/boxtribute_server/business_logic/box_transfer/shipment/fields.py
Due: black, flake8

Unassign tags from source base when checking in box in target base
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

resolve the space in title of product
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentContent.tsx
Due: eslint, prettier

Adding core principles of design
  README.md
Due: none

update 4.5 test cases
  react/src/mocks/shipments.ts
  react/src/views/Transfers/ShipmentView/ShipmentView.test.tsx
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentContent.tsx
Due: eslint, prettier

change error handling file path
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

fix: react/Dockerfile to reduce vulnerabilities
  react/Dockerfile
Due: none

fix: react/Dockerfile to reduce vulnerabilities (#680)
  react/Dockerfile
Due: none

fix: back/Dockerfile to reduce vulnerabilities
  back/Dockerfile
Due: none

upgrade json5 to the fixed version 2.2.3
  react/yarn.lock
Due: none

fix: back/Dockerfile to reduce vulnerabilities (#681)
  back/Dockerfile
Due: none

fix: docs/graphql-api/Dockerfile to reduce vulnerabilities
  docs/graphql-api/Dockerfile
Due: none

fix: docs/graphql-api/Dockerfile to reduce vulnerabilities (#682)
  docs/graphql-api/Dockerfile
Due: none

fix: docs/graphql-api/Dockerfile to reduce vulnerabilities (#683)
  docs/graphql-api/Dockerfile
Due: none

update packages - set json5 to fixed version json5 2.2.3 - update msw - update storybook - update craco - update graphql-codegen - update typescript - update prettier - update regenerator-runtime
  react/package.json
  react/public/mockServiceWorker.js
  react/yarn.lock
Due: eslint, prettier

update glob-parent to fixed version 5.1.2
  react/yarn.lock
Due: none

update trim to fixed version 0.0.3
  react/yarn.lock
Due: none

update nth-check to fixed version 2.0.1
  react/yarn.lock
Due: none

update trim-newline to fixed version 3.0.1
  react/yarn.lock
Due: none

fix build issue due to MSW error
  react/.storybook/preview.js
  react/src/index.tsx
  react/src/mocks/browser.ts
  react/src/views/Distributions/DistroSpotsView/components/DistroSpotsContainer.stories.tsx
Due: eslint, prettier

downgrad react testing library to 12.1.4
  react/package.json
  react/yarn.lock
Due: none

Revert "fix: back/Dockerfile to reduce vulnerabilities (#681)"
  back/Dockerfile
Due: none

Revert "fix: back/Dockerfile to reduce vulnerabilities (#681)" (#685)
  back/Dockerfile
Due: none

Fix QR code links
  README.md
Due: none
