Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: black
        name: Format Python files
        entry: black
        types: [python]
        language: system
        require_serial: true
      - id: flake8
        name: Lint Python files
        entry: flake8
        types: [python]
        language: system
        require_serial: true
      - id: mypy
        name: Run Python type checks
        entry: mypy
        types_or: [python, pyi]
        exclude: back/test
        language: system
        args: ["--scripts-are-modules"]
        require_serial: true
      - id: isort
        name: Sort Python imports
        entry: isort
        types_or: [cython, pyi, python]
        language: system
        require_serial: true
        args: ['--filter-files']
      - id: eslint
        name: Lint Typescript files
        entry: ./invoke_yarn lint
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: prettier
        name: Format Typescript files
        entry: ./invoke_yarn format
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: generate-graphql-ts-types
        name: Generate GraphQL Typescript definitions
        entry: ./invoke_yarn graphql-types
        types: [graphql]
        language: script
        require_serial: true

add Location Input field
  react/src/components/QrReader/components/AlertTexts.tsx
  react/src/components/QrReader/components/QrReaderMultiBox.tsx
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
  react/src/types/generated/graphql.ts
Due: eslint, prettier

fix old tests
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
  react/src/mocks/shipments.ts
  react/src/queries/queries.ts
  react/src/types/generated/graphql.ts
  react/src/views/QrReader/QrReaderMultiBoxAssignToShipment.test.tsx
Due: eslint, prettier

fix formatting issues
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
Due: eslint, prettier

add basic first three basic mutation tests
  react/src/components/QrReader/components/QrReaderMultiBox.tsx
  react/src/hooks/useMoveBoxes.ts
  react/src/queries/dynamic-mutations.ts
  react/src/views/QrReader/QrReaderMultiBoxMoveBox.test.tsx
Due: eslint, prettier

add new tests for MoveBoxes
  react/src/hooks/useMoveBoxes.ts
  react/src/views/QrReader/QrReaderMultiBoxMoveBox.test.tsx
Due: eslint, prettier

Use batch-loading for ShipmentDetail.source/targetSize
  back/boxtribute_server/business_logic/box_transfer/shipment/fields.py
Due: black, flake8

Join with Shipment model in Shipment.details resolver
  back/boxtribute_server/business_logic/box_transfer/shipment/fields.py
Due: black, flake8

Add dedicated fcuntion for user-mocking in tests
  back/test/auth.py
  back/test/endpoint_tests/conftest.py
  back/test/endpoint_tests/test_app.py
  back/test/endpoint_tests/test_box.py
  back/test/endpoint_tests/test_distribution_event_tracking_group.py
  back/test/endpoint_tests/test_metrics.py
  back/test/endpoint_tests/test_permissions.py
  back/test/endpoint_tests/test_shipment.py
  back/test/endpoint_tests/test_transfer_agreement.py
  back/test/endpoint_tests/test_user.py
Due: black, flake8

update query to load tags and clean up fragments
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
  react/src/queries/fragments.ts
  react/src/queries/queries.ts
  react/src/types/generated/graphql.ts
  react/src/views/Box/BoxView.tsx
  react/src/views/QrReader/QrReaderMultiBoxAssignToShipment.test.tsx
  react/src/views/QrReader/QrReaderMultiBoxMoveBox.test.tsx
Due: eslint, prettier

Add tagIdsToBeAdded parameter for updateBox mutation
  back/boxtribute_server/business_logic/warehouse/box/crud.py
  back/boxtribute_server/graph_ql/inputs.graphql
  back/test/endpoint_tests/test_box.py
  react/src/types/generated/graphql.ts
Due: black, flake8, eslint, prettier

add Tag form field
  react/src/components/QrReader/components/AlertTexts.tsx
  react/src/components/QrReader/components/QrReaderMultiBox.tsx
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
  react/src/views/QrReader/QrReaderMultiBoxMoveBox.test.tsx
Due: eslint, prettier

create assignTags hook
  react/src/components/QrReader/components/AlertTexts.tsx
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
  react/src/hooks/useAssignTags.ts
  react/src/queries/dynamic-mutations.ts
Due: eslint, prettier

update mutation for new updateBox
  react/src/queries/dynamic-mutations.ts
  react/src/types/generated/graphql.ts
Due: eslint, prettier

fix format errors
  react/src/hooks/useAssignTags.ts
  react/src/views/QrReader/QrReaderMultiBoxAssignToShipment.test.tsx
  react/src/views/QrReader/QrReaderMultiBoxMoveBox.test.tsx
Due: eslint, prettier

add tests
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
  react/src/mocks/tags.ts
  react/src/tests/helpers.ts
  react/src/views/QrReader/QrReaderMultiBoxAssignTags.test.tsx
Due: eslint, prettier

add colors to tags
  react/src/components/QrReader/components/QrReaderMultiBox.tsx
Due: eslint, prettier

fix old tests
  react/src/mocks/tags.ts
  react/src/views/Box/BoxView.test.tsx
Due: eslint, prettier

Update typing packages
  back/requirements-dev.txt
Due: none

Update typing packages (#870)
  back/requirements-dev.txt
Due: none

update graphql types
  react/src/types/generated/graphql.ts
Due: eslint, prettier

redirect to shipment view when box undelivered
  react/src/components/BoxReconciliationOverlay/BoxReconciliationOverlay.tsx
  react/src/views/Box/BoxView.tsx
Due: eslint, prettier

Introduce dedicated function to create history entries
  back/boxtribute_server/models/utils.py
Due: black, flake8

Write history entries when reconciling boxes
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

add test case 4.7.4.1
  react/src/views/Box/BoxViewReconciliationOverlay.test.tsx
Due: eslint, prettier

add organisation and base name to Global Preferences
  react/src/components/BoxReconciliationOverlay/BoxReconciliationOverlay.test.tsx
  react/src/components/BoxReconciliationOverlay/BoxReconciliationOverlay.tsx
  react/src/components/HeaderMenu/HeaderMenuContainer.tsx
  react/src/components/HeaderMenu/HeaderMenuDeskop.tsx
  react/src/components/HeaderMenu/HeaderMenuMobile.tsx
  react/src/components/QrReader/QrReaderContainer.tsx
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
  react/src/hooks/hooks.ts
  react/src/hooks/useLoadAndSetGlobalPreferences.ts
  react/src/providers/GlobalPreferencesProvider.tsx
  react/src/tests/test-utils.tsx
  react/src/types/generated/graphql.ts
  react/src/views/BaseDashboard/BaseDashboardView.tsx
  react/src/views/Box/BoxView.test.tsx
  react/src/views/Box/BoxView.tsx
  react/src/views/Box/BoxViewReconciliationOverlay.test.tsx
  react/src/views/BoxCreate/BoxCreateView.tsx
  react/src/views/BoxEdit/BoxEditView.tsx
  react/src/views/BoxEdit/components/BoxEdit.tsx
  react/src/views/Boxes/BoxesView.tsx
  react/src/views/Transfers/CreateShipment/CreateShipmentView.test.tsx
  react/src/views/Transfers/CreateShipment/CreateShipmentView.tsx
  react/src/views/Transfers/CreateShipment/components/CreateShipment.tsx
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
  react/src/views/Transfers/ShipmentView/ShipmentView.test.tsx
  react/src/views/Transfers/TransferAgreementOverview/TransferAgreementOverviewView.tsx
Due: eslint, prettier

fix build issues
  react/src/views/Transfers/TransferAgreementOverview/TransferAgreementOverviewView.tsx
Due: eslint, prettier

make assignToShipment default MultiBoxAction
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
Due: eslint, prettier

create Breadcrumb navigation component
  react/src/components/BTBreadcrumbNavigation.tsx
  react/src/components/BreadcrumbNavigation.tsx
  react/src/views/Distributions/DistroEventView/components/DistroEventContainer.tsx
Due: eslint, prettier

add breadcrumb to transfer agreements
  react/.eslintignore
  react/.prettierignore
  react/src/views/Transfers/TransferAgreementOverview/TransferAgreementOverviewView.tsx
Due: eslint, prettier

add breadcrumbs to shipments overview
  react/src/views/Transfers/ShipmentsOverview/ShipmentsOverviewView.tsx
Due: eslint, prettier

rename HeaderMenuDesktop
  react/.eslintignore
  react/.prettierignore
  react/src/components/HeaderMenu/HeaderMenu.tsx
  react/src/components/HeaderMenu/HeaderMenuDesktop.tsx
Due: eslint, prettier

add mobile breadcrumb
  react/src/components/BreadcrumbNavigation.tsx
  react/src/views/Transfers/CreateShipment/CreateShipmentView.tsx
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentsOverview/ShipmentsOverviewView.tsx
  react/src/views/Transfers/TransferAgreementOverview/TransferAgreementOverviewView.tsx
Due: eslint, prettier

add tests for breadcrumbs
  react/src/views/Transfers/CreateShipment/CreateShipmentView.test.tsx
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
  react/src/views/Transfers/ShipmentView/ShipmentView.test.tsx
  react/src/views/Transfers/ShipmentsOverview/ShipmentsOverview.test.tsx
  react/src/views/Transfers/TransferAgreementOverview/TransferAgreementOverview.test.tsx
Due: eslint, prettier

add button to mobile breadcrumb
  react/src/components/BreadcrumbNavigation.tsx
Due: eslint, prettier

add transfer menu items
  react/src/components/HeaderMenu/HeaderMenuContainer.tsx
Due: eslint, prettier

Create list when querying shipment details instead of appending
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
Due: black, flake8

Update history test data
  back/test/data/history.py
  back/test/endpoint_tests/test_box.py
Due: black, flake8

New function for bulk updating box state during shipments and tracking the change
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

Refine logic
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
Due: black, flake8

Update formatting
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
Due: black, flake8
