Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: black
        name: Format Python files
        entry: black
        types: [python]
        language: system
        require_serial: true
      - id: flake8
        name: Lint Python files
        entry: flake8
        types: [python]
        language: system
        require_serial: true
      - id: mypy
        name: Run Python type checks
        entry: mypy
        types_or: [python, pyi]
        exclude: back/test
        language: system
        args: ["--scripts-are-modules"]
        require_serial: true
      - id: isort
        name: Sort Python imports
        entry: isort
        types_or: [cython, pyi, python]
        language: system
        require_serial: true
        args: ['--filter-files']
      - id: eslint
        name: Lint Typescript files
        entry: ./invoke_yarn lint
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: prettier
        name: Format Typescript files
        entry: ./invoke_yarn format
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: generate-graphql-ts-types
        name: Generate GraphQL Typescript definitions
        entry: ./invoke_yarn graphql-types
        types: [graphql]
        language: script
        require_serial: true

update cms_usergroups_roles
  back/init.sql
Due: none

update transfer_agreement in init.sql
  back/init.sql
Due: none

add transfer_agreements_details to init.sql
  back/init.sql
Due: none

Add shipments to init.sql
  back/init.sql
Due: none

fix backend tests
  back/test/conftest.py
  back/test/integration_tests/test_operations.py
  back/test/integration_tests/test_permissions.py
Due: black, flake8

Update README
  README.md
Due: none

ADR for mutable shared states in the frontend
  docs/adr/adr_frontend_global_state.md
Due: none

Move AgreementsOverview Route
  react/src/App.tsx
  react/src/types/generated/graphql.ts
Due: eslint, prettier

Table to components forlder
  react/src/views/TransferAgreementOverview/components/TransferAgreementTable.tsx
Due: eslint, prettier

Add Heading and Button to AgreementOverview
  react/src/views/TransferAgreementOverview/TransferAgreementOverviewView.tsx
Due: eslint, prettier

Move AgreementOverview to other folder
  react/src/views/Transfers/TransferAgreementOverview/TransferAgreementOverviewView.tsx
  react/src/views/Transfers/TransferAgreementOverview/components/TransferAgreementTable.tsx
  react/src/views/Transfers/TransferAgreementOverview/components/YesNoOverlay.tsx
Due: eslint, prettier

Add error alert on AgreementsOverview
  react/src/App.tsx
  react/src/types/generated/graphql.ts
  react/src/views/Transfers/TransferAgreementOverview/TransferAgreementOverviewView.tsx
Due: eslint, prettier

Remove setup_box_transfer_models function entirely
  back/test/data/__init__.py
Due: black, flake8

clean up - remove unused hook
  react/src/views/Box/BoxView.tsx
Due: eslint, prettier

remove alert when box moved to instock location - clean up - add one more test case for graphql mutaiton failure
  react/src/views/Box/BoxView.test.tsx
  react/src/views/Box/BoxView.tsx
Due: eslint, prettier

1st Column done
  react/src/components/Skeletons.tsx
  react/src/views/Transfers/TransferAgreementOverview/TransferAgreementOverviewView.tsx
  react/src/views/Transfers/TransferAgreementOverview/components/TableCells.tsx
  react/src/views/Transfers/TransferAgreementOverview/components/TransferAgreementTable.tsx
  react/src/views/Transfers/TransferAgreementOverview/components/TransferIcons.tsx
Due: eslint, prettier

add colors to theme
  react/src/utils/theme.ts
  react/src/views/Box/components/BoxDetails.tsx
Due: eslint, prettier

StatusColumn Done
  react/src/views/Transfers/TransferAgreementOverview/TransferAgreementOverviewView.tsx
  react/src/views/Transfers/TransferAgreementOverview/components/TableCells.tsx
Due: eslint, prettier

Shipments Column done
  react/src/views/Transfers/TransferAgreementOverview/TransferAgreementOverviewView.tsx
  react/src/views/Transfers/TransferAgreementOverview/components/TableCells.tsx
Due: eslint, prettier

WIP: create ShipmentView page - add new route for shipment view - query to get shipment information - incomplete draft of ui
  react/src/App.tsx
  react/src/types/generated/graphql.ts
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

Make initiating org base IDs mandatory for creating agreement
  back/boxtribute_server/business_logic/box_transfer/agreement/crud.py
  back/boxtribute_server/business_logic/box_transfer/agreement/mutations.py
  back/boxtribute_server/graph_ql/inputs.graphql
  back/test/endpoint_tests/test_permissions.py
  back/test/endpoint_tests/test_transfer_agreement.py
  back/test/integration_tests/test_operations.py
  react/src/types/generated/graphql.ts
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
Due: black, flake8, eslint, prettier

Validate that valid-until date later than valid-from when creating agreement
  back/boxtribute_server/business_logic/box_transfer/agreement/crud.py
  back/boxtribute_server/exceptions.py
  back/test/endpoint_tests/test_transfer_agreement.py
Due: black, flake8

Update naming for create-agreement input
  back/boxtribute_server/business_logic/box_transfer/agreement/crud.py
  back/boxtribute_server/business_logic/box_transfer/agreement/mutations.py
  back/boxtribute_server/graph_ql/inputs.graphql
  back/test/endpoint_tests/test_permissions.py
  back/test/endpoint_tests/test_transfer_agreement.py
  back/test/integration_tests/test_operations.py
  react/src/types/generated/graphql.ts
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.test.tsx
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
Due: black, flake8, eslint, prettier

Shipment can only be created by users of the source base
  back/boxtribute_server/business_logic/box_transfer/shipment/mutations.py
Due: black, flake8

Enable and verify accepting ReceivingFrom agreement
  back/boxtribute_server/business_logic/box_transfer/agreement/mutations.py
  back/test/endpoint_tests/test_transfer_agreement.py
Due: black, flake8

User must be authorized in ALL relevant bases for creating/accepting/rejecting agreement
  back/boxtribute_server/business_logic/box_transfer/agreement/mutations.py
  back/test/endpoint_tests/test_transfer_agreement.py
Due: black, flake8

Fix duplication of bases that are involved in agreement with multiple partner bases
  back/test/endpoint_tests/test_transfer_agreement.py
Due: black, flake8

Fix typos
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
Due: eslint, prettier

Enable and verify creation of ReceivingFrom agreement
  back/boxtribute_server/business_logic/box_transfer/agreement/crud.py
  back/boxtribute_server/business_logic/box_transfer/agreement/mutations.py
  back/test/endpoint_tests/test_transfer_agreement.py
Due: black, flake8

Remove organisation-level authorization in shipment resolvers
  back/boxtribute_server/business_logic/box_transfer/shipment/mutations.py
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

Derive exact partner base IDs if not given during agreement creation
  back/boxtribute_server/business_logic/box_transfer/agreement/crud.py
Due: black, flake8

Shorten function argument name
  back/boxtribute_server/business_logic/box_transfer/agreement/crud.py
  back/boxtribute_server/business_logic/box_transfer/agreement/fields.py
  back/boxtribute_server/business_logic/box_transfer/agreement/mutations.py
  back/boxtribute_server/business_logic/box_transfer/agreement/queries.py
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
Due: black, flake8

User must be authorized in ALL relevant bases for cancelling agreement
  back/boxtribute_server/business_logic/box_transfer/agreement/mutations.py
  back/test/endpoint_tests/test_transfer_agreement.py
Due: black, flake8

Support deriving resource name from any model for authz
  back/boxtribute_server/authz.py
  back/boxtribute_server/utils.py
Due: black, flake8

Enforce base-specific authz when querying transfer agreements
  back/boxtribute_server/authz.py
  back/boxtribute_server/business_logic/box_transfer/agreement/queries.py
  back/test/auth.py
  back/test/data/transfer_agreement_detail.py
  back/test/endpoint_tests/test_shipment.py
  back/test/endpoint_tests/test_transfer_agreement.py
Due: black, flake8

clean up - remove comments
  react/src/views/Box/BoxView.tsx
Due: eslint, prettier

test 4.2.2
  react/src/components/Skeletons.tsx
  react/src/views/Transfers/TransferAgreementOverview/TransferAgreementOverview.test.tsx
  react/src/views/Transfers/TransferAgreementOverview/TransferAgreementOverviewView.tsx
Due: eslint, prettier

First version of ADR for database history
  docs/adr/adr_database-history.md
Due: none

Add Receiving to ShipmentState enum
  back/boxtribute_server/enums.py
  back/boxtribute_server/graph_ql/types.graphql
  react/src/types/generated/graphql.ts
Due: black, flake8, eslint, prettier

Implement and test receiveShipment mutation
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/boxtribute_server/business_logic/box_transfer/shipment/mutations.py
  back/boxtribute_server/graph_ql/mutations.graphql
  back/test/endpoint_tests/test_app.py
  back/test/endpoint_tests/test_permissions.py
  back/test/endpoint_tests/test_shipment.py
  react/src/types/generated/graphql.ts
Due: black, flake8, eslint, prettier
