Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

black:
  name: Format Python files
  entry: black
  language: system
  require_serial: true

flake8:
  name: Lint Python files
  entry: flake8
  language: system
  require_serial: true

eslint:
  name: Lint Typescript files
  entry: ./invoke_yarn lint
  language: script
  require_serial: true

prettier:
  name: Format Typescript files
  entry: ./invoke_yarn format
  language: script
  require_serial: true

increase timeout of test 4.7.1
  front/src/components/BoxReconciliationOverlay/BoxReconciliationOverlay.test.tsx
Due: none

update dependabot config
  .github/dependabot.yml
Due: none

Add minimal required beta version to menus
  react/src/components/HeaderMenu/HeaderMenu.tsx
  react/src/components/HeaderMenu/HeaderMenuContainer.tsx
  react/src/types/generated/graphql.ts
  react/yarn.lock
Due: eslint, prettier

make history records smaller, using compact dates, and limiting text to two lines
  react/src/views/Box/components/HistoryEntries.tsx
Due: eslint, prettier

clean up
  react/src/views/Box/components/HistoryEntries.tsx
Due: eslint, prettier

change the number of lines in the skeleton to reflect the change in the history record
  react/src/views/Box/components/BoxCard.tsx
Due: eslint, prettier

fix minor issue in mobile view
  react/src/views/Box/components/HistoryEntries.tsx
Due: eslint, prettier

remove restriction on the number of lines
  react/src/views/Box/components/BoxCard.tsx
  react/src/views/Box/components/HistoryEntries.tsx
Due: eslint, prettier

BoxView: Make the Text for the Most Recent History Smaller (#984)
  react/src/views/Box/components/BoxCard.tsx
  react/src/views/Box/components/HistoryEntries.tsx
Due: eslint, prettier

remove extra padding when hiding tags (#985)
  react/src/views/Box/components/BoxCard.tsx
Due: eslint, prettier

Update size test data naming
  back/test/data/box.py
  back/test/data/packing_list_entry.py
  back/test/data/size.py
Due: black, flake8

Update transaction test data
  back/test/data/__init__.py
  back/test/data/transaction.py
  back/test/endpoint_tests/test_metrics.py
Due: black, flake8

Add topProductsCheckedOut query
  back/boxtribute_server/business_logic/statistics/crud.py
  back/boxtribute_server/business_logic/statistics/queries.py
  back/boxtribute_server/graph_ql/definitions/public_api.graphql
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8

Add topProductsDonated query
  back/boxtribute_server/business_logic/statistics/crud.py
  back/boxtribute_server/business_logic/statistics/queries.py
  back/boxtribute_server/graph_ql/definitions/public_api.graphql
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8

Make API for topProducts* queries cleaner
  back/boxtribute_server/business_logic/statistics/crud.py
  back/boxtribute_server/graph_ql/definitions/public_api.graphql
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8

Update box and history test data
  back/test/data/box.py
  back/test/data/history.py
  back/test/endpoint_tests/test_box.py
  back/test/endpoint_tests/test_metrics.py
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8

Add helper function for generating dimension info
  back/boxtribute_server/business_logic/statistics/crud.py
Due: black, flake8

Generate GraphQL TypeScript types
  statviz/src/types/generated/graphql.ts
Due: none

introduce authorization hook
  react/src/App.tsx
  react/src/hooks/useAuthorization.ts
Due: eslint, prettier

fix logout in development environment
  react/src/components/HeaderMenu/HeaderMenuDesktop.tsx
  react/src/components/HeaderMenu/HeaderMenuMobile.tsx
  react/src/hooks/hooks.ts
  react/src/utils/helpers.ts
Due: eslint, prettier

fix: upgrade @sentry/tracing from 7.38.0 to 7.61.1
  react/package.json
  react/yarn.lock
Due: none

fix: upgrade @sentry/integrations from 7.38.0 to 7.61.1
  react/package.json
  react/yarn.lock
Due: none

fix: upgrade @sentry/react from 7.38.0 to 7.61.1
  react/package.json
  react/yarn.lock
Due: none

fix: upgrade react-hook-form from 7.43.1 to 7.45.4
  react/package.json
  react/yarn.lock
Due: none

fix: upgrade date-fns from 2.29.3 to 2.30.0
  react/package.json
  react/yarn.lock
Due: none

Fix eslint complaint
  react/src/hooks/hooks.ts
Due: eslint, prettier

Return tag color in dimension info
  back/boxtribute_server/business_logic/statistics/crud.py
  back/boxtribute_server/graph_ql/definitions/public_api.graphql
  back/test/endpoint_tests/test_statistics.py
  statviz/src/types/generated/graphql.ts
Due: black, flake8

Exclude public API definitions from TS generation for boxtribute FE directory
  react/codegen.yml
  react/src/types/generated/graphql.ts
Due: eslint, prettier

Add gender information to product dimension
  back/boxtribute_server/business_logic/statistics/crud.py
  back/boxtribute_server/graph_ql/definitions/public_api.graphql
  back/test/endpoint_tests/test_statistics.py
  statviz/src/types/generated/graphql.ts
Due: black, flake8

refactor TransferAgreementOverlay for AreYouSureDialog
  react/src/components/AreYouSure.tsx
  react/src/views/Transfers/TransferAgreementOverview/components/TransferAgreementOverlay.tsx
Due: eslint, prettier

add AYS to BoxReconciliationOverlay
  react/src/components/BoxReconciliationOverlay/BoxReconciliationOverlay.test.tsx
  react/src/components/BoxReconciliationOverlay/BoxReconciliationOverlay.tsx
  react/src/components/BoxReconciliationOverlay/components/BoxReconciliationView.tsx
  react/src/components/BoxReconciliationOverlay/components/MatchProductsForm.tsx
Due: eslint, prettier

Refactor Shipment Overlay
  react/src/views/Transfers/ShipmentView/components/ShipmentOverlay.tsx
Due: eslint, prettier

increase CircleCI size
  .circleci/config.yml
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

parallize CircleCI FE jobs
  .circleci/config.yml
Due: none

fix number of items in the shipment view
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
Due: eslint, prettier

figure out where the node modules are
  .circleci/config.yml
Due: none

rename folders in circleci config
  .circleci/config.yml
Due: none

add resource_class to build-front in circleci
  .circleci/config.yml
Due: none

fix build issues
  .circleci/config.yml
  react/src/components/BoxReconciliationOverlay/BoxReconciliationOverlay.tsx
Due: eslint, prettier

lower resource_class of circlci
  .circleci/config.yml
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  eslint: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  prettier: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
