Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

black:
  name: Format Python files
  entry: black
  language: system
  require_serial: true

flake8:
  name: Lint Python files
  entry: flake8
  language: system
  require_serial: true

eslint:
  name: Lint Typescript files
  entry: ./invoke_yarn lint
  language: script
  require_serial: true

prettier:
  name: Format Typescript files
  entry: ./invoke_yarn format
  language: script
  require_serial: true

Update QR code links
  README.md
Due: none

Add mutation for marking shipment as lost
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
  back/boxtribute_server/business_logic/box_transfer/shipment/mutations.py
  back/boxtribute_server/graph_ql/mutations.graphql
  back/test/endpoint_tests/test_app.py
  back/test/endpoint_tests/test_permissions.py
  back/test/endpoint_tests/test_shipment.py
  react/src/types/generated/graphql.ts
Due: black, flake8, eslint, prettier

Enforce shipment detail RBP
  back/boxtribute_server/authz.py
  back/boxtribute_server/business_logic/box_transfer/shipment/fields.py
  back/boxtribute_server/business_logic/box_transfer/shipment/mutations.py
  back/test/auth.py
  back/test/endpoint_tests/test_permissions.py
Due: black, flake8

downgrad typescript typescript to 4.8.4
  react/package.json
  react/yarn.lock
Due: none

remove comments and delete browser.ts
  react/src/index.tsx
  react/src/mocks/browser.ts
Due: eslint, prettier

add lost action
  react/src/types/generated/graphql.ts
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

Update typing packages
  back/requirements-dev.txt
Due: none

Update typing packages (#690)
  back/requirements-dev.txt
Due: none

fix box-field fragment for shipment overview query
  react/src/queries/fragments.ts
  react/src/types/generated/graphql.ts
  react/src/views/Transfers/ShipmentView/ShipmentView.test.tsx
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

fix: react/Dockerfile to reduce vulnerabilities
  react/Dockerfile
Due: none

fix: back/Dockerfile to reduce vulnerabilities
  back/Dockerfile
Due: none

update graphql types
  react/src/types/generated/graphql.ts
Due: eslint, prettier

refactor code - refactor cancel calback - change flag variable name
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
Due: eslint, prettier

remove extra variable to display lost shipment
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
Due: eslint, prettier

rename component name
  react/src/components/Skeletons.tsx
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

add seq field to all locations queries
  react/src/mocks/locations.ts
  react/src/queries/fragments.ts
  react/src/types/generated/graphql.ts
  react/src/views/Box/BoxView.tsx
  react/src/views/BoxCreate/BoxCreateView.tsx
  react/src/views/BoxEdit/BoxEditView.tsx
Due: eslint, prettier

Add sorting to BoxView
  react/src/views/Box/components/BoxDetails.tsx
Due: eslint, prettier

fix Sorting in BoxCreate and BoxEdit
  react/src/views/BoxCreate/components/BoxCreate.tsx
  react/src/views/BoxEdit/components/BoxEdit.tsx
Due: eslint, prettier

fix test 3.1.3
  react/src/views/Box/BoxView.test.tsx
Due: eslint, prettier

reactor & clean up - rename mutation name - add dot at the end of messages - rename callback - change type conversion - remove duplicate fragment properties - fix style
  react/src/components/Skeletons.tsx
  react/src/queries/fragments.ts
  react/src/types/generated/graphql.ts
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentContent.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentTableCells.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
Due: eslint, prettier

mock toasts
  react/src/hooks/hooks.ts
  react/src/hooks/useNotification.ts
  react/src/views/Box/BoxView.tsx
  react/src/views/BoxCreate/BoxCreateView.tsx
  react/src/views/BoxEdit/BoxEditView.tsx
  react/src/views/Transfers/CreateShipment/CreateShipmentView.tsx
  react/src/views/Transfers/CreateTransferAgreement/CreateTransferAgreementView.tsx
  react/src/views/Transfers/TransferAgreementOverview/TransferAgreementOverview.test.tsx
  react/src/views/Transfers/TransferAgreementOverview/TransferAgreementOverviewView.tsx
Due: eslint, prettier

fix 4.5.1.4
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
Due: eslint, prettier

fix mock data missing type field
  react/src/mocks/shipments.ts
Due: eslint, prettier

remove unused libraries
  react/src/views/Transfers/ShipmentView/components/ShipmentContent.tsx
Due: eslint, prettier

disable msw
  react/src/index.tsx
  react/src/mocks/browser.ts
  react/src/views/Distributions/DistroSpotsView/components/DistroSpotsContainer.stories.tsx
Due: eslint, prettier

fix issue of qrreader view multi box tab
  react/src/components/QrReader/QrReaderContainer.tsx
Due: eslint, prettier

add notification that box is already on the list
  react/src/components/QrReader/QrReaderContainer.tsx
Due: eslint, prettier

fetch Box from cache for MultiBox Scanning
  react/src/components/QrReader/QrReaderContainer.tsx
  react/src/hooks/useQrResolver.ts
Due: eslint, prettier

set default if data is empty
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

clean up - remove unused option
  react/src/views/Transfers/ShipmentView/components/ShipmentTable.tsx
Due: eslint, prettier

add type to shipment overlay data
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentOverlay.tsx
Due: eslint, prettier

fix mock data for shipment
  react/src/mocks/shipments.ts
Due: eslint, prettier

First version of ADR for database history (#656)
  docs/adr/adr_database-history.md
Due: none

remove extra linter exclusions
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

clean up
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

move useLoadAndSetGlobalPreferences
  react/src/App.tsx
  react/src/hooks/useLoadAndSetGlobalPreferences.ts
  react/src/providers/ApolloAuth0Provider.tsx
Due: eslint, prettier

create context for ApolloAuth0Wrapper to fix issues with initial queries
  react/src/hooks/useLoadAndSetGlobalPreferences.ts
  react/src/providers/ApolloAuth0Provider.tsx
Due: eslint, prettier

add selectedBaseId to GlobalPreferences Context
  react/src/hooks/useLoadAndSetGlobalPreferences.ts
  react/src/providers/GlobalPreferencesProvider.tsx
Due: eslint, prettier

WIP: add receiving table
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingContent.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingTable.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
Due: eslint, prettier

show correct icon on shipment cart
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
Due: eslint, prettier

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  eslint: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  prettier: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
