Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: black
        name: Format Python files
        entry: black
        types: [python]
        language: system
        require_serial: true
      - id: flake8
        name: Lint Python files
        entry: flake8
        types: [python]
        language: system
        require_serial: true
      - id: mypy
        name: Run Python type checks
        entry: mypy
        types_or: [python, pyi]
        exclude: back/test
        language: system
        args: ["--scripts-are-modules"]
        require_serial: true
      - id: isort
        name: Sort Python imports
        entry: isort
        types_or: [cython, pyi, python]
        language: system
        require_serial: true
        args: ['--filter-files']
      - id: eslint
        name: Lint Typescript files
        entry: ./invoke_yarn lint
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: prettier
        name: Format Typescript files
        entry: ./invoke_yarn format
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: generate-graphql-ts-types
        name: Generate GraphQL Typescript definitions
        entry: ./invoke_yarn graphql-types
        types: [graphql]
        language: script
        require_serial: true

fix format in providers
  react/.eslintignore
  react/.prettierignore
  react/src/providers/Auth0ProviderWithHistory.tsx
Due: eslint, prettier

add error handling in useLoadAndSetGlobalPreferences
  react/src/hooks/useLoadAndSetGlobalPreferences.ts
Due: eslint, prettier

fix build issues
  react/src/providers/ApolloAuth0Provider.tsx
Due: eslint, prettier

updates types
  react/src/types/generated/graphql.ts
Due: eslint, prettier

fix build issues
  react/src/providers/GlobalPreferencesProvider.tsx
Due: eslint, prettier

add refetch queries to MoveBoxes Action in Manage Boxes
  react/src/hooks/useMoveBoxes.ts
  react/src/views/Boxes/BoxesView.tsx
  react/src/views/Boxes/components/BoxesTable.tsx
Due: eslint, prettier

save table config in cache - WIP
  react/src/queries/cache.ts
  react/src/views/Boxes/components/BoxesTable.tsx
Due: eslint, prettier

save table config in cache - WIP
  react/src/views/Boxes/components/BoxesTable.tsx
Due: eslint, prettier

move moveBoxes Action to container component
  react/src/hooks/useMoveBoxes.ts
  react/src/views/Boxes/BoxesView.tsx
  react/src/views/Boxes/components/BoxesTable.tsx
Due: eslint, prettier

fix console error of SelectButton
  react/src/views/Boxes/components/ActionButtons.tsx
Due: eslint, prettier

2nd viz backend
  statviz/src/components/graphs/BarChartVertical.tsx
  statviz/src/types/generated/gql.ts
  statviz/src/types/generated/graphql.ts
  statviz/src/views/Statistics/BoxView.tsx
Due: none

2nd viz backend return boxes ordered by created_on
  back/boxtribute_server/business_logic/statistics/crud.py
Due: black, flake8

init pie chart
  statviz/src/components/graphs/PieChart.tsx
Due: none

Add boxes query
  back/boxtribute_server/business_logic/warehouse/box/queries.py
  back/boxtribute_server/graph_ql/definitions/protected/queries.graphql
  back/test/endpoint_tests/test_box.py
Due: black, flake8

Add product and size filtering for boxes
  back/boxtribute_server/graph_ql/definitions/protected/types.graphql
  back/boxtribute_server/graph_ql/filtering.py
  back/test/endpoint_tests/test_box.py
Due: black, flake8

Add filter input to boxes query
  back/boxtribute_server/business_logic/warehouse/box/queries.py
  back/boxtribute_server/graph_ql/definitions/protected/queries.graphql
  back/test/endpoint_tests/test_box.py
Due: black, flake8

Update GraphQL TypeScript types
  react/src/types/generated/graphql.ts
Due: eslint, prettier

Simplify condition building
  back/boxtribute_server/graph_ql/pagination.py
Due: black, flake8

ADR for mutable shared states in the frontend (#646)
  docs/adr/adr_frontend_global_state.md
Due: none

fix flaky test 4.5.1.6
  react/src/views/Transfers/ShipmentView/ShipmentView.test.tsx
Due: eslint, prettier

increase test timeout times
  react/src/components/QrReaderOverlay/QrReaderOverlay.test.tsx
Due: eslint, prettier

Update README.md
  README.md
Due: none

Update README.md (#1026)
  README.md
Due: none

fix time format in the shipment history
  react/src/views/Transfers/ShipmentView/components/ShipmentHistory.tsx
Due: eslint, prettier

fix history record status
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
Due: eslint, prettier

second iteration of ADR
  docs/adr/adr_backend_etl_and_hosting_for_StatViz.md
Due: none

Set ShipmentDetail.received_by/on immediately after box reconciliation
  back/boxtribute_server/business_logic/box_transfer/shipment/crud.py
Due: black, flake8

1st Version of Statviz FE ADR
  docs/adr/adr_statviz_frontend.md
Due: none

Implement GraphQL interface for movedBoxes
  back/boxtribute_server/business_logic/statistics/crud.py
  back/boxtribute_server/business_logic/statistics/queries.py
  back/boxtribute_server/graph_ql/definitions/public_api.graphql
  back/test/endpoint_tests/test_statistics.py
  statviz/src/types/generated/graphql.ts
Due: black, flake8

Move duplicated join-logic into derive_box_filter function
  back/boxtribute_server/business_logic/warehouse/box/queries.py
  back/boxtribute_server/business_logic/warehouse/location/fields.py
  back/boxtribute_server/graph_ql/filtering.py
Due: black, flake8

Support filtering by tag IDs
  back/boxtribute_server/graph_ql/definitions/protected/types.graphql
  back/boxtribute_server/graph_ql/filtering.py
  back/test/endpoint_tests/test_box.py
  react/src/types/generated/graphql.ts
Due: black, flake8, eslint, prettier

Filter in join clause in TagsForBoxLoader
  back/boxtribute_server/graph_ql/loaders.py
Due: black, flake8

Update FE code to use BoxState.NotDelivered
  react/src/views/Box/components/BoxCard.tsx
  react/src/views/Box/components/BoxMoveLocation.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentContent.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentOverlay.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
Due: eslint, prettier

filter out boxes based on receive_on rather than box state
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingCard.tsx
Due: eslint, prettier

clean up
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingCard.tsx
Due: eslint, prettier

wip 3rd viz
  back/boxtribute_server/business_logic/statistics/crud.py
  statviz/src/App.tsx
  statviz/src/components/graphs/PieChart.tsx
  statviz/src/types/generated/graphql.ts
  statviz/src/views/Statistics/BoxView.tsx
  statviz/src/views/Statistics/ProductRankView.tsx
Due: black, flake8

create global timeline component
  react/src/components/Timeline/TimelineContainer.tsx
  react/src/components/Timeline/components/TimelineBullet.tsx
  react/src/components/Timeline/components/TimelineEntry.tsx
Due: eslint, prettier

create history overlay component
  react/src/components/HistoryOverlay/HistoryOverlay.tsx
Due: eslint, prettier
