Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

black:
  name: Format Python files
  entry: black
  language: system
  require_serial: true

flake8:
  name: Lint Python files
  entry: flake8
  language: system
  require_serial: true

eslint:
  name: Lint Typescript files
  entry: ./invoke_yarn lint
  language: script
  require_serial: true

prettier:
  name: Format Typescript files
  entry: ./invoke_yarn format
  language: script
  require_serial: true

move GlobalFilter to the right
  react/src/views/Boxes/components/BoxesTable.tsx
  react/src/views/Boxes/components/GlobalFilter.tsx
Due: eslint, prettier

Use Shipment label identifier in front-end
  react/src/queries/fragments.ts
  react/src/types/generated/graphql.ts
  react/src/views/Transfers/ShipmentView/components/ShipmentCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingCard.tsx
Due: eslint, prettier

Fixup
  back/boxtribute_server/business_logic/box_transfer/shipment/fields.py
Due: black, flake8

add helpful comments
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
Due: eslint, prettier

rename the timeline component
  react/src/components/HistoryOverlay/HistoryOverlay.tsx
  react/src/components/Timeline/Timeline.tsx
  react/src/views/Box/BoxView.tsx
  react/src/views/Transfers/ShipmentView/ShipmentView.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
Due: eslint, prettier

put formatTime method to helpers
  react/src/components/Timeline/components/TimelineEntry.tsx
  react/src/utils/helpers.ts
Due: eslint, prettier

clean up
  react/src/components/Table/Filter.tsx
  react/src/hooks/useLabelIdentifierResolver.ts
  react/src/hooks/useScannedBoxesActions.ts
  react/src/views/Transfers/CreateShipment/CreateShipmentView.tsx
Due: eslint, prettier

clean up: remove unknown and undefiend types
  react/src/components/HistoryOverlay/HistoryOverlay.tsx
  react/src/components/Timeline/Timeline.tsx
  react/src/views/Box/BoxView.tsx
Due: eslint, prettier

clean up: import mocks function
  react/src/views/Box/BoxView.test.tsx
  react/src/views/Box/BoxViewHistoryOverlay.test.tsx
  react/src/views/Box/BoxViewReconciliationOverlay.test.tsx
  react/src/views/Transfers/ShipmentView/ShipmentView.test.tsx
Due: eslint, prettier

refactor: remove waitFor & replace getbyRole with findByRole in the test
  react/src/views/Box/BoxViewHistoryOverlay.test.tsx
Due: eslint, prettier

Ensure that base name fragment has fixed length
  back/boxtribute_server/business_logic/box_transfer/shipment/fields.py
  back/test/data/base.py
  back/test/endpoint_tests/test_shipment.py
  back/test/model_tests/test_utils.py
Due: black, flake8

Precisely compute age for demographics statistic
  back/boxtribute_server/business_logic/beneficiary/fields.py
  back/boxtribute_server/business_logic/statistics/crud.py
  back/boxtribute_server/models/utils.py
Due: black, flake8

Add AriadneIntegration for Sentry
  back/boxtribute_server/app.py
Due: black, flake8

Group MovedBoxes data by movedOn date using SQL subquery
  back/boxtribute_server/business_logic/statistics/crud.py
Due: black, flake8

fix demographic view
  statviz/src/utils/table.ts
  statviz/src/views/Statistics/DemographicView.tsx
  statviz/src/views/Statistics/components/DemographicChart.tsx
Due: none

Only select relevant box state changes in subquery
  back/boxtribute_server/business_logic/statistics/crud.py
Due: black, flake8

Add GraphQL playground for /public endpoint
  back/boxtribute_server/routes.py
  back/test/endpoint_tests/test_simple.py
Due: black, flake8

change graphQL query to boxes query
  react/src/types/generated/graphql.ts
  react/src/views/Boxes/BoxesView.test.tsx
  react/src/views/Boxes/BoxesView.tsx
  react/src/views/Boxes/components/BoxesTable.tsx
  statviz/src/types/generated/gql.ts
  statviz/src/types/generated/graphql.ts
Due: eslint, prettier

Refactor into query-mutation-ui structure
  react/.eslintignore
  react/.prettierignore
  react/src/components/Table/TableHeader.tsx
  react/src/views/Boxes/BoxesView.test.tsx
  react/src/views/Boxes/BoxesView.tsx
  react/src/views/Boxes/components/BoxesActionsAndTable.tsx
  react/src/views/Boxes/components/BoxesTable.tsx
  react/src/views/Boxes/components/Checkbox.tsx
  react/src/views/Boxes/components/ColumnSelector.tsx
Due: eslint, prettier

fix build issues
  react/src/views/Boxes/components/ActionButtons.tsx
  react/src/views/Boxes/components/GlobalFilter.tsx
Due: eslint, prettier

fix build issue
  react/src/views/Boxes/components/ActionButtons.tsx
Due: eslint, prettier

First version
  docs/moved-boxes-task.md
Due: none

Make test more strict
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8

Use age precision of 1 year
  back/boxtribute_server/business_logic/statistics/crud.py
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8

Handle unset beneficiary creation date
  back/boxtribute_server/business_logic/statistics/crud.py
Due: black, flake8

Precisely compute age for demographics statistic
  back/boxtribute_server/business_logic/beneficiary/fields.py
  back/boxtribute_server/business_logic/statistics/crud.py
  back/boxtribute_server/models/utils.py
  back/test/endpoint_tests/test_statistics.py
Due: black, flake8

Handle beneficiaries with zero-datetime date-of-birth
  back/boxtribute_server/business_logic/statistics/crud.py
Due: black, flake8

Delete old BoxesView tests
  react/src/views/Boxes/BoxesView.test.tsx
Due: eslint, prettier

Add GraphQL playground for /public endpoint (#1071)
  back/boxtribute_server/routes.py
  back/test/endpoint_tests/test_simple.py
Due: black, flake8

Dashboard refactoring
  statviz/src/types/generated/gql.ts
  statviz/src/types/generated/graphql.ts
  statviz/src/utils/table.ts
  statviz/src/views/Dashboard/Dashboard.tsx
  statviz/src/views/Dashboard/Demographics.tsx
  statviz/src/views/Dashboard/ItemsAndBoxes.tsx
  statviz/src/views/Dashboard/MovedBoxes.tsx
  statviz/src/views/Statistics/DemographicView.tsx
  statviz/src/views/Statistics/components/BoxFlowSankey.tsx
  statviz/src/views/Statistics/components/CreatedBoxes.tsx
  statviz/src/views/Statistics/components/DemographicChart.tsx
  statviz/src/views/Statistics/components/TopProducts.tsx
Due: none

Second version
  docs/moved-boxes-task.md
Due: none

WIP after alignment on 26th of Oct
  docs/moved-boxes-task.md
Due: none

add shipment id to query and shipment option
  react/src/components/Form/SelectField.tsx
  react/src/components/Form/ShipmentOption.tsx
  react/src/queries/queries.ts
  react/src/types/generated/graphql.ts
Due: eslint, prettier

add shipment id to boxview dropdown
  react/src/views/Box/BoxView.tsx
  react/src/views/Box/components/AssignBoxToShipment.tsx
Due: eslint, prettier

add shipment id to multibox qr reader dropdown
  react/src/components/QrReader/components/QrReaderMultiBox.tsx
  react/src/components/QrReader/components/QrReaderMultiBoxContainer.tsx
Due: eslint, prettier

add shipment id after base column in shipmentview
  react/src/views/Transfers/ShipmentsOverview/ShipmentsOverviewView.tsx
Due: eslint, prettier

Include shipment id in mocking data
  react/src/mocks/shipments.ts
Due: eslint, prettier

fix multibox qr reader tests
  react/src/components/Form/ShipmentOption.tsx
  react/src/views/QrReader/QrReaderMultiBoxAssignToShipment.test.tsx
Due: eslint, prettier

add shipment id column before base column
  react/src/views/Transfers/ShipmentsOverview/ShipmentsOverviewView.tsx
Due: eslint, prettier

fix box edit test 3.2.7
  react/src/views/BoxEdit/BoxEditView.test.tsx
Due: eslint, prettier

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  eslint: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  prettier: any of: ^react/.* and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
