Repository boxwise/boxtribute: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: black
        name: Format Python files
        entry: black
        types: [python]
        language: system
        require_serial: true
      - id: flake8
        name: Lint Python files
        entry: flake8
        types: [python]
        language: system
        require_serial: true
      - id: mypy
        name: Run Python type checks
        entry: mypy
        types_or: [python, pyi]
        exclude: back/test
        language: system
        args: ["--scripts-are-modules"]
        require_serial: true
      - id: isort
        name: Sort Python imports
        entry: isort
        types_or: [cython, pyi, python]
        language: system
        require_serial: true
        args: ['--filter-files']
      - id: eslint
        name: Lint Typescript files
        entry: ./invoke_yarn lint
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: prettier
        name: Format Typescript files
        entry: ./invoke_yarn format
        files: ^react/.*
        types_or: [javascript, jsx, ts, tsx]
        language: script
        require_serial: true
      - id: generate-graphql-ts-types
        name: Generate GraphQL Typescript definitions
        entry: ./invoke_yarn graphql-types
        types: [graphql]
        language: script
        require_serial: true

remove extra fields from ShipmentDetailFields fragment
  react/src/queries/fragments.ts
  react/src/types/generated/graphql.ts
Due: eslint, prettier

remove support for graphql partial response
  react/src/views/Box/BoxView.tsx
Due: eslint, prettier

apply change in ShipmentView to use sourceSize, sourceProduct, sourceQuantity instead of box
  react/src/views/Transfers/ShipmentView/components/ShipmentContent.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingContent.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
Due: eslint, prettier

fix menu items warnings
  react/src/components/HeaderMenu/HeaderMenu.tsx
  react/src/components/HeaderMenu/HeaderMenuContainer.tsx
  react/src/components/HeaderMenu/HeaderMenuMobile.tsx
Due: eslint, prettier

fix mock data for ShipmentView test cases
  react/src/mocks/shipments.ts
Due: eslint, prettier

use basic box field to fix qr tests
  react/src/queries/fragments.ts
  react/src/queries/queries.ts
  react/src/types/generated/graphql.ts
Due: eslint, prettier

fix typo
  react/src/components/BoxReconciliationOverlay/BoxReconciliationOverlay.tsx
Due: eslint, prettier

clean up & fix linter warning
  react/src/mocks/components.tsx
  react/src/views/QrReader/QrReaderMultiBoxAssignToShipment.test.tsx
Due: eslint, prettier

use sourceQuantity instead box numberOfItems
  react/src/components/BoxReconciliationOverlay/components/MatchProductsForm.tsx
Due: eslint, prettier

disable action when box on lost location
  react/src/views/Box/BoxView.tsx
  react/src/views/Box/components/AssignBoxToShipment.tsx
  react/src/views/Box/components/BoxCard.tsx
Due: eslint, prettier

disable remove from shipment action while box InTransit state
  react/src/views/Box/components/AssignBoxToShipment.tsx
Due: eslint, prettier

add circle bullet in the history timeline
  react/src/views/Transfers/ShipmentView/components/TimelineBullet.tsx
  react/src/views/Transfers/ShipmentView/components/TimelineEntry.tsx
Due: eslint, prettier

fix flaky test 3.4.1.3
  react/src/components/QrReaderOverlay/QrReaderOverlay.test.tsx
Due: eslint, prettier

increase test time
  react/src/components/QrReaderOverlay/QrReaderOverlay.test.tsx
Due: eslint, prettier

fix shipment content to show number of items correctly
  react/src/views/Transfers/ShipmentView/components/ShipmentTabs.tsx
Due: eslint, prettier

removing authorization in box in backend
  back/boxtribute_server/business_logic/warehouse/box/fields.py
  back/boxtribute_server/business_logic/warehouse/box/queries.py
Due: black, flake8

Enable accessing InTransit/Receiving boxes for members of target base
  back/boxtribute_server/business_logic/warehouse/box/queries.py
  back/test/endpoint_tests/test_box.py
Due: black, flake8

Use correct product ID for box test data
  back/test/data/box.py
Due: black, flake8

Let Box.product return Null when opposite shipment party accesses it
  back/boxtribute_server/business_logic/warehouse/box/fields.py
  back/test/data/shipment_detail.py
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

Update LocationLoader and Box.location
  back/boxtribute_server/business_logic/box_transfer/shipment/fields.py
  back/boxtribute_server/business_logic/warehouse/box/fields.py
  back/boxtribute_server/graph_ql/loaders.py
  back/test/endpoint_tests/test_permissions.py
Due: black, flake8

Update test case IDs
  back/test/endpoint_tests/test_app.py
  back/test/endpoint_tests/test_classic_location.py
  back/test/endpoint_tests/test_permissions.py
  back/test/endpoint_tests/test_shipment.py
Due: black, flake8

Remove use of outdated env variable
  back/README.md
  back/test/auth.py
Due: black, flake8

Update DB seed to use InTransit box state for all boxes in Sent shipment
  back/init.sql
Due: none

remove ReactiveVar for ReconciliationForm Data
  react/src/components/BoxReconciliationOverlay/BoxReconciliationOverlay.tsx
  react/src/components/BoxReconciliationOverlay/components/BoxReconciliationAccordion.tsx
  react/src/components/BoxReconciliationOverlay/components/BoxReconciliationView.tsx
  react/src/components/BoxReconciliationOverlay/components/MatchProductsForm.tsx
  react/src/queries/cache.ts
Due: eslint, prettier

put options of select field to highest z index
  react/src/components/Form/SelectField.tsx
Due: eslint, prettier

only boxes InSrock can be added to a shipment through BoxView
  react/src/views/Box/components/AssignBoxToShipment.tsx
Due: eslint, prettier

type boxData.location in BoxCard
  react/src/views/Box/components/BoxCard.tsx
Due: eslint, prettier

remove unused state and clean up
  react/src/components/BoxReconciliationOverlay/components/BoxReconciliationAccordion.tsx
  react/src/components/BoxReconciliationOverlay/components/MatchProductsForm.tsx
Due: eslint, prettier

fix the issue with receiving table items and counter
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingContent.tsx
Due: eslint, prettier

use receiving state to filter out the boxes in shipment view when receiving
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingCard.tsx
  react/src/views/Transfers/ShipmentView/components/ShipmentReceivingContent.tsx
Due: eslint, prettier

show available transfer options on boxview when box state
  react/src/views/Box/BoxView.tsx
Due: eslint, prettier

increase test case 3.4.2.5c timeout
  react/src/components/QrReaderOverlay/QrReaderOverlay.test.tsx
Due: eslint, prettier

revert change in boxview
  react/src/views/Box/BoxView.tsx
Due: eslint, prettier

fix mock data for test case 4.5.3
  react/src/mocks/shipments.ts
Due: eslint, prettier

fix mock data
  react/src/mocks/shipments.ts
Due: eslint, prettier

add to optional props to box reconcilation to set closeOnOverlayClick and closeOnEsc
  react/src/components/BoxReconciliationOverlay/BoxReconciliationOverlay.tsx
  react/src/components/BoxReconciliationOverlay/components/BoxReconciliationView.tsx
Due: eslint, prettier

add sourceLocation to shipment detail of box field fragment
  react/src/queries/fragments.ts
  react/src/types/generated/graphql.ts
Due: eslint, prettier

displays box reconciliation overlay if box sate equals to receiving
  react/src/views/Box/BoxView.tsx
  react/src/views/Box/components/BoxCard.tsx
  react/src/views/Box/components/BoxTabs.tsx
Due: eslint, prettier

disable remove shipment button when box state equals to receiving
  react/src/views/Box/components/AssignBoxToShipment.tsx
Due: eslint, prettier

create Hook to move multiple boxes
  react/src/hooks/useMoveBoxes.ts
Due: eslint, prettier
